nav.nav.nav--main
  ul.nav__list
    li.nav__item
      a(href="about-architect.html").nav__link О доме
    li.nav__item
      a(href="#").nav__link Квартиры
    li.nav__item
      a(href="parking.html").nav__link Паркинг
    li.nav__item
      a(href="gallery.html").nav__link Галерея
    li.nav__item
      a(href="contacts.html").nav__link Контакты
