.nav.nav--social
  ul.nav__list
    li.nav__item
      a(href="#" title="Группа в VK").nav__link
        .btn__lines
        .btn__bg
        svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 272.13 159.33').nav__image.nav__image--vk
          g
            path(d='M226.06,78.12s35.86-50.58,39.42-67.2c1.19-5.94-1.43-9.26-7.6-9.26H226.77c-7.12,0-9.74,3.09-11.87,7.6,0,0-16.82,35.83-37.28,58.42-6.57,7.3-9.91,9.5-13.54,9.5-2.92,0-4.27-2.44-4.27-9V10.45c0-8.07-.95-10.45-7.6-10.45H102.34c-3.8,0-6.17,2.21-6.17,5.22,0,7.6,11.64,9.32,11.64,29.92v42.5c0,8.55-.48,11.87-4.51,11.87C92.61,89.52,67.2,52.72,53,10.92,50.1,2.38,47,0,38.94,0H7.84C3.32,0,0,3.09,0,7.6c0,8.31,9.74,46.78,48,98.31,25.64,34.67,59.36,53.43,89.76,53.43,18.52,0,23-3.09,23-10.92v-26.6c0-6.65,2.61-9.5,6.41-9.5,4.27,0,11.82,1.37,29.44,18.76,20.9,19.95,22.32,28.26,33.72,28.26h34.91c3.56,0,6.89-1.66,6.89-7.6,0-7.84-10.21-21.85-25.88-38.47-6.41-8.55-16.86-17.81-20.18-22.08C221.31,86.2,222.73,83.35,226.06,78.12Z')    
    li.nav__item
      a(href="#" title="Аккаунт в Instagram").nav__link
        .btn__lines
        .btn__bg
        svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 100.17 100.17').nav__image.nav__image--insta
          g#Layer_1-2(data-name='Layer 1')
            path(d='M12.86,0H87.31a12.89,12.89,0,0,1,12.86,12.86V87.31a12.89,12.89,0,0,1-12.86,12.85H12.86A12.89,12.89,0,0,1,0,87.31V12.86A12.9,12.9,0,0,1,12.86,0ZM73,11.12a4.53,4.53,0,0,0-4.51,4.52V26.43A4.52,4.52,0,0,0,73,30.94H84.29a4.52,4.52,0,0,0,4.51-4.51V15.64a4.53,4.53,0,0,0-4.51-4.52ZM88.85,42.36H80A29.33,29.33,0,0,1,81.32,51c0,16.66-13.95,30.17-31.14,30.17S19,67.62,19,51a29.4,29.4,0,0,1,1.29-8.6h-9.2V84.68a4,4,0,0,0,4,4H84.87a4,4,0,0,0,4-4Zm-38.67-12c-11.11,0-20.12,8.72-20.12,19.5s9,19.49,20.12,19.49S70.3,60.63,70.3,49.87,61.29,30.37,50.18,30.37Z')

    li.nav__item
      a(href="#" title="Страница на Facebook").nav__link
        .btn__lines
        .btn__bg
        svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 117.67 226.58').nav__image.nav__image--fb
          g
            path(d='M76.38,226.58V123.23h34.69l5.19-40.28H76.38V57.23c0-11.66,3.24-19.61,20-19.61h21.33v-36A285.42,285.42,0,0,0,86.59,0C55.84,0,34.78,18.77,34.78,53.24V82.95H0v40.28H34.78V226.58Z')
