.address {
  // Elements
  // @include has(title) {
  //   margin-bottom: 30px;
  // };
  // @include has(text) {};
  // @include variant(contact) {
  //   display        : flex;
  //   flex-direction : row;
  //   width          : 100%;
  //   justify-content: center;
  //   align-items    : baseline;
  //   padding        : 60px 0;
  //   text-align     : left;
  //
  //   .block {
  //     display       : flex;
  //     flex-direction: column;
  //     margin-right  : 90px;
  //
  //     &:last-of-type {
  //       margin-right: 0;
  //     }
  //   }
  //
  //   .link {
  //     color  : $black;
  //     display: inline-block;
  //
  //     &.link--phone {
  //       margin: 0 0 22px;
  //     }
  //   }
  // };
  // Styles
  color      : $grey;
  font-size  : 14px;
  line-height: 1.2;

  .footer & {
    font-size  : 16px;
    font-weight: 300;

    @media (min-width: 1000px) {
      font-size: 14px;
    }
  }
}

.contacts {
  // Elements
  // @include has() {};
  // Modifiers
  @include variant(office) {
    .heading {
      font-size  : 20px;
      line-height: 1.2;
      margin     : 0 0 15px;
      font-weight: 300;
      @media (min-width: 1000px) {
        margin: 0 0 5px;
      }
    }
  };
  @include variant(top) {
    text-align: right;
  };
  @include variant(page) {
    width         : auto;
    margin        : 60px auto;
    display       : flex;
    flex-direction: column;

    @media (min-width: 1000px) {
      width         : 880px;
      flex-direction: row;
      justify-content: space-between;
    }

    .block {
      width: auto;
      display       : flex;
      flex-direction: column;
      // justify-content: space-between;
      align-items   : center;
      margin-bottom: 40px;

      @media (min-width: 1000px) {
        display       : flex;
        flex-direction: column;
        // justify-content: space-between;
        align-items   : baseline;
        margin-bottom: 0;
      }
    }
  };
  // Styles
}
