//// Navigation
// Variables
$active-color: $accent;
$base-color: $black;
$grey-color: $grey;
$hover-color: $accent;
$link-size: 60px;
$margin-base: $margin;
$margin-big: 30px;
$margin-large: 60px;
$margin-small: 20px;
$muted-color: $grey-m;

.nav {
  // Elements
  @include has(list) {
    list-style-type: none;
    @include variant(submenu) {
      margin-top: 16px;
      display: none;
      transition: all 0.4s ease;

      .nav__item {}

      .nav__link {}

      .nav__item--current & {
        display: block;
      }
    };
  };
  @include has(item) {
    @include variant(dashed) {
      border : 1px dashed $muted-color;
      color  : $muted-color;
      display: inline-flex;
      margin : 0 $margin-small / 4 $margin-small / 2 0;
      padding: 0 $margin-small;

      &.nav__item--active {
        border: 1px solid $active-color;
      }
    };
    @include variant(underline) {
      border-bottom: 1px dashed $muted-color;
      color        : $muted-color;
      display      : inline-flex;
      margin       : 0 $margin-small / 4 $margin-small / 2 0;

      &:hover {
        border-color: $active-color;
        color       : $active-color;
      }

      &.nav__item--active {
        border: 0;
      };
    };
    @include variant(active) {
      color: $active-color;
    };
    @include variant(divider) {
      width: 360px;

      @media (min-width: 1000px) {
        width: 165px;

        .nav--inline & {
          margin-left: 14px;
          margin-right: 16px;
        }
      }

      @media (min-width: 1160px) {
        width: 190px;
      }

      @media (min-width: 1380px) {
        width: 360px;
      }
    };
    @include variant(current) {

    };
    @include variant(parent) {
      .icon {
        float: right;
        width: 8px;
        height: 14px;
        path {
          fill: $white;
        }
      }

      &.nav__item--current {
        .icon {
          transform: rotate(-90deg);
        }
      };
    };
    // Style
    margin-bottom: $margin-small;
    color        : $base-color;

    &:hover {
      color       : $active-color;
      border-color: $active-color;
    }
  };
  @include has(link) {
    color          : inherit;
    font-size      : 18px;
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  };
  // Modifiers
  @include variant(main) {
    // Elements
    .nav__list {
      display        : -webkit-flex;
      display        : -ms-flex;
      display        : flex;
      flex-direction : row;
      justify-content: space-between;
    }

    .nav__item {
      @include variant(active) {
        color: $active-color;
        // text-shadow: 1px 1px 1px rgba($white, 1);
      };
      color        : $default-color;
      position     : relative;
      margin-bottom: 0;

      &:before {
        content           : '';
        position          : absolute;
        width             : 100%;
        height            : 1px;
        bottom            : 0;
        left              : 0;
        background-color  : $active-color;
        visibility        : hidden;
        -webkit-transform : scaleX(0);
        transform         : scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition        : all 0.3s ease-in-out 0s;
      }

      &:hover {
        color: $active-color;

        &:before {
          visibility       : visible;
          -webkit-transform: scaleX(1);
          transform        : scaleX(1);
        }
      }
    }

    .nav__link {
      position       : relative;
      text-decoration: none;
      text-transform : uppercase;
      font-size      : 14px;
      line-height    : 1.6;
      font-weight    : 300;

      @media (min-width: 1160px) {
        font-size      : 16px;
      }
    }
    // Style
    width          : 500px;
    display        : none;
    flex-direction : column;
    justify-content: center;
    // align-self: flex-end;
    &.nav--visible {
      display         : flex;
      position        : fixed;
      width           : 100%;
      height          : auto;
      min-height      : 100%;
      background-color: $black;
      top             : 0;
      left            : 0;
    }
    @media (min-width: 1000px) {
      display: flex;
      width: 453px;
      margin-left: -13px;
      margin-bottom: 4px;
    }
  };
  //
  //
  @include variant(inline) {
    .nav__list {
      display        : -webkit-flex;
      display        : -ms-flex;
      display        : flex;
      justify-content: space-around;
      align-items    : center;
      width          : 100%;
    }

    .nav__item {
      display: inline-flex;
      margin : 0;

      @media (min-width: 1000px) {
        &:first-of-type {
          margin-left: -10px;
        }
        &:last-of-type {
          margin-right: -32px;
        }
      }

      &:first-of-type {
        // margin-left: -10px;
      }
      &:last-of-type {
        // margin-right: -32px;
      }
    }

    .nav__link {
      line-height   : 16px;
      font-size     : 14px;
      text-transform: uppercase;
    }
    // Style
    width    : 100%;
    // max-width: 1280px;
    margin   : 0 auto;

    .header & {
      margin: 0 40px;
      width: auto;

      @media (min-width: 1000px) and (max-width: 1159px) {
        width: 880px;
        margin: 0 auto;
      }
      @media (min-width: 1380px) {
        width: 1280px;
        margin: 0 auto;
      }
      .nav__item {
        display: none;

        @media (min-width: 1000px) {
          display: block;
          color: $grey-m;
        }

        .nav__link {
          @media (min-width: 1000px) {
            font-size: 12px;
          }
          @media (min-width: 1160px) {
            font-size: 14px;
          }
        }

        &.nav__item--active {
          display: block;
          width: 100%;

          @media (min-width: 1000px) {
            width: auto;
          }

          .nav__link {
            font-size: 24px;
            color: $black;
            line-height: 1.2;  

            @media (min-width: 1000px) {
              font-size: 12px;
              color: $active-color;
            }
            @media (min-width: 1160px) {
              font-size: 14px;
            }
          }
        }
      }
    }

    @media (min-width: 480px) {

    }

    @media (min-width: 1000px) {

    }
  };
  //
  @include variant(underline) {
    width: 620px;

    .nav__link {
      line-height   : 16px;
      font-size     : 14px;
      text-transform: none;
    }
  };
  @include variant(social) {
    .nav__list {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
    }

    .nav__item {
      margin  : 0 $margin-small 0 0;
      padding : 0;
      position: relative;
      border  : 0;

      &:last-of-type {
        margin-right: 0;
      }
    }

    .nav__link {
      @include circle-link-hover();
      align-items     : center;
      background-color: $nblack;
      border          : 0;
      border-radius   : $link-size;
      color           : $grey-color;
      display         : flex;
      height          : $link-size;
      justify-content : center;
      position        : relative;
      transition      : all 0.3s ease;
      width           : $link-size;
      z-index         : 1;

      .btn__bg {
        background-color: #141414;
        border          : 1px dashed $grey-color;
      }

      &:hover {

        background-color: $hover-color;

        .btn__bg {
          border          : 1px solid $hover-color;
        }

        > .nav__image {
          fill: $white;

          path {
            fill      : $white;
            transition: 0.25s ease-in-out 0s;
          }
        }
      }
    }
    // Styles
    margin: 0;

    .footer & {
      margin: 0 auto 32px;
    }
  };
  @include has(image) {
    // Modifiers
    @include variant(vk) {
      height: 13px;
      width : 23px;
    };
    @include variant(insta) {
      height: 18px;
      width : 18px;
    };
    @include variant(fb) {
      height: 20px;
      width : 10px;
    };

    path {
      fill: $grey-color;
    }
  };
  @include variant(footer) {
    border-top   : 1px solid #505050;
    width        : 100%;
    margin-bottom: 35px;

    .nav__item {
      padding      : 20px;
      border-bottom: 1px solid #505050;
      margin-bottom: 0;

      .nav__item {
        border : 0;
        padding: 10px 20px;

        .nav__link {
          font-size: 14px;
          color: $grey;
        }

        &:last-of-type {
          padding-bottom: 11px;
        }
      }
    }

    .nav__link {
      color         : $white;
      line-height   : 1;
      font-size     : 16px;
      text-transform: uppercase;
    }
    @media (min-width: 1000px) {
      display: none;

      .nav__list {
        display: none;
      }
    }

    @media (min-width: 1600px) {
      display: block;
      width: 600px;
      border: 0;
    }
  };
  // Style
}
