//// Body & Grid Styles
// Variables
$bg-color: $white;
$bg-color-dark: $grey-d;
$sidebar-bg-color: $nwhite;
$sidebar-width: 260px;
$margin-base: $margin;
$margin-large: 60px;
$container-width: 960px;

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $bg-color;
  box-sizing      : border-box;
  height          : 100%;
  margin          : 0;
  padding         : 0;
  width           : 100%;

  &.home, &.gallery {
    background-color: $bg-color-dark;
  }
}
// Base Page Wrapper

.page {
  .home & {}

  .about & {
    background-color: $white;

    .main-content {
      padding: 0;

      .section {
        // width: 960px;
        margin : $margin-base auto 0;
        display: flex;
        @include variant(cards) {
          margin        : 0;
          width         : 100%;
          display       : flex;
          flex-direction: column;
        };
      }
    }
  }

  .single-news & {
    .main-content {}
  }

  .contacts & {
    .main-content {
      padding: 0;
    }
  }
  // Styles
  margin : 0;
  padding: 0;

  &.page--location {
    .js-moveto.link--to-top {
      display: none;

      @media (min-width: 1000px) {
        display: block;
        margin-top: -60px;
      }
    }
    .js-location-toggle {
      z-index: 3;
    }
  }
}
//

.content {
  .single-news &,
  .text-page & {
    margin: 20px;

    @media (min-width: 1000px) {
      width: 960px;
      margin: 0 auto;

      .header, section, .text--large {
        width: 630px;
        margin-right: auto;
        margin-left: auto;
      }
    }

    section {
      margin-bottom: $margin-large;

      &:last-of-type {
        margin-bottom: 94px;
      }
    }

    h2 {
      font-size: 20px;
      line-height: 1.2;
      text-align: left;
      font-weight: 500;
      margin-bottom: 35px;

      @media (min-width: 1000px) {
        font-size: 24px;
        text-align: center;
      };
    }
    p {
      // font-size: 16px;
      font-weight: 300;
      margin-bottom: 20px;
    }
  }

  .text-page & {
    width: auto;
    // text-align: center;
    .image {
      margin-right: auto;
      margin-left: auto;
      display: block;
    }
    .header {
      width: auto;
      .header__inner {
        @media (min-width: 1000px) {
          width: 960px;
          margin: 0 auto;
        }
      }
    }
  }
  & + .js-moveto {
    margin-top: -60px;
  }
}

.top-panel {
  // Elements
  @include has(inner) {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    padding        : 0 40px;
    width          : 100%;

    .address {
      display       : flex;
      flex-direction: column;
    }
  };
  // Styles
  align-items     : center;
  background-color: $bg-color-dark;
  display         : flex;
  height          : 70px;
  width           : 100%;
  transition      : all 0.3s ease;
  z-index: 3;
  position: relative;

  @media (min-width: 480px) {
    height          : 100px;
  }

  .sticky & {
    position: fixed;
    top     : 0;
    left    : 0;
    z-index : 5;
    height  : 70px;
    // display: none;

    @media (min-width: 480px) {
      height: 60px;
    }
  }
}

.video-container {
  margin: 40px 11px 80px;
	height: auto;
  @include aspect-ratio(16,9);

  @media (min-width: 1000px) {
    width: 960px;
    margin: 40px auto 80px;
  }

  iframe {
    position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
}

.block {
  display        : flex;
  flex-direction : row;
  width          : 50%;
  justify-content: flex-start;
  @include variant(right) {
    justify-content: flex-end;
  };
  @include variant(footer) {
    flex-direction : column;
    width          : 250px;
    text-align     : right;
    justify-content: center;
  }
}

.container {
  width: 960px;
  margin: 0 auto;
  display: flex;

  @include variant(parking) {
    @include aspect-ratio(880,476);

    width: 100%;

    margin: $margin-base 0 70px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    @media (min-width: 1000px) {
      width: 960px;
      justify-content: center;
      align-items: center;
      margin: $margin-base auto $margin-base * 2;

      &:before {
        display: none;
      }

      img {
        position: relative;
      }
    }
  };
}
