.image-container {
  .content & {
    @include aspect-ratio(1,1);
    width   : 100%;
    overflow: hidden;

    .image {
      position : absolute;
      top      : 50%;
      left     : 50%;
      transform: translate(-50%, -50%);
      width    : auto;
      height   : 100%;
    }
    @media (min-width: 1000px) {
      &:before {
        display: none;
      }

      .image {
        position : relative;
        top      : auto;
        left     : auto;
        transform: none;
      }
    }
  }
}

.image {
  // .content & {
  //   margin: $margin 0;
  // }
  .map & {
    max-height: 440px;
  }
}

.icon {
  // Modifiers
  @include variant(phone) {
    height      : 14px;
    margin-right: 10px;
    width       : 14px;
  };
  @include variant(arrow-top) {
    // background-image   : url('./../img/icon-arrow-top.png');
    background-position: center;
    height             : 18px;
    margin             : 0 0px -3px 0;
    width              : 10px;
    transform          : rotate(-90deg);
  };
  @include variant(arrow-down) {
    // background-image   : url('./../img/icon-arrow-top.png');
    background-position: center;
    height             : 18px;
    margin             : 0;
    width              : 10px;
    transform          : rotate(90deg);
  };
  @include variant(arrow-left) {
    background-position: center;
    height             : 14px;
    width              : 8px;
    transform          : rotate(-180deg);
    margin-right       : 10px;
    fill               : $grey-m;
  };
  @include variant(arrow-right) {
    background-position: center;
    height             : 14px;
    width              : 8px;
    margin             : -2px 0 -2px 2px;
    fill               : $grey-m;
  };
  @include variant(link) {
    height    : 14px;
    left      : -20px;
    margin-top: -7px;
    position  : absolute;
    top       : 50%;
    width     : 14px;

    & path {
      fill: $accent;
    }
  };
  @include variant(point-small) {
    background-image: url('./../img/point-small.png');
    width           : 11px;
    height          : 14px;
    display         : inline-block;
    margin-top      : 20px;
    margin-right    : 10px;

    + .link {
      display       : inline-block;
      text-transform: uppercase;
      font-size     : 14px;
    }
  };
  // Styles
  display: inline-block;
}
