//// Links
// Variables

.link {
  // Modifiers
  // Pretty Underline Style
  @include variant(underline) {
    background-image   : linear-gradient(90deg, currentColor 100%, transparent 100%);
    background-position: bottom;
    background-repeat  : no-repeat;
    background-size    : 100% 1px;
    display            : inline;
    text-shadow        : 1px 1px $white, -1px 1px $white, -1px -1px $white, 1px -1px $nwhite;
    // Hover
    &:hover {
      background-image: linear-gradient(90deg, $accent 100%, transparent 100%);
    }
  }
  // Dashed Underline Style
  @include variant(dashed) {
    border-bottom: 1px dashed $black;
  };
  @include variant(to-top) {
    margin        : 35px 0;
    text-transform: uppercase;
    display: none;

    .main-content & {
      width: 100%;
    }

    .content--main & {
      text-align: center;
    }

    .content > & {
      margin-left: 80px;
    }
  };
  @include variant(to-down) {
    margin          : 0;
    position        : fixed;
    bottom          : -40px;
    display         : block;
    left            : 50%;
    margin-left     : -40px;
    z-index         : 5;
    width           : 80px;
    height          : 80px;
    border-radius   : 50%;
    text-align      : center;
    line-height     : 80px;
    background-color: #505050;

    .icon {
      margin: 0 0 10px;

      path {
        fill: $grey;
      }
    }

    &:hover {
      background-color: $accent;
    }
    @media (min-width: 960px) {
      background-color: transparent;
      bottom          : 60px;
      position        : absolute;

      .icon {
        margin: 20px 0 0;
      }

      &:hover {
        background-color: rgba($white, .2);
      }
    }
  };

  @include variant(to-top) {
    align-items     : center;
    background-color: #505050;
    display         : block;
    display         : flex;
    justify-content : center;
    left            : 50%;
    margin          : 0 0 0 -40px;
    position        : fixed;
    bottom          : -40px;
    z-index         : 2;
    width           : 80px;
    height          : 80px;
    border-radius   : 50%;

    svg {
      margin-top: -30px;

      path {
        fill: #909090;
      }
    }

    .btn__bg,
    .btn__lines {
      display: none;
    }

    .sticky & {
      z-index: 11;
    }

    @media (min-width: 960px) {
      @include circle-link-hover();
      margin: 0 0 0 -30px;
      bottom: -30px;
      line-height: 60px;
      text-align: center;
    }
  }

  @include variant(back) {
    clear         : both;
    color         : $grey-m;
    display       : block;
    float         : none;
    font-size     : 14px;
    font-weight   : 500;
    line-height   : 20px;
    text-transform: uppercase;
    margin-bottom : 30px;

    .main-content & {
      margin-bottom: $margin;
      width        : 100%;
    }
  }
  @include variant(list) {}
  @include variant(phone) {
    font-size  : 11px;
    color      : $white;
    line-height: 1.2;

    me

    .footer & {
      @media (min-width: 960px) {
        position: absolute;
        right   : 40px;
        top     : 60px;
      }
    }

    @media (min-width: 480px) {
      font-size: 14px;
    }

    @media (min-width: 960px) {
      font-size    : 20px;
      margin-bottom: 10px;
    }

    .contacts--page & {
      color        : $black;
      font-size    : 20px;
      line-height  : 1.2;
      font-weight  : 500;
      margin-bottom: 18px;
    }

    @media (min-width: 1160px) {
      .contacts--footer & {
          border: 0;
      }
    }
  }
  // Style
  color   : inherit;

  &:hover {
    color: $accent;
  }

  .address--contact & {
    display      : inline-block;
    font-size    : 21px;
    font-weight  : 500;
    white-space  : nowrap;
    color        : $white;
    margin-bottom: 10px;

    &:hover {
      color: $accent;
    }
  }

  .address--contact .block & {
    margin-left: 20px;
  }

  .address--contact .block &.link--phone {
    margin-left: 0;
  }

  .copyright &:hover {
    border-bottom: 1px dashed $accent;
  }
  position: relative;
}

.link-info {
  color    : $grey-m;
  display  : block;
  font-size: 14px;
}
