//// Typography
// Body Styles

body {
  -webkit-font-smoothing: antialiased;
  font-family           : $font-sans;
  font-size             : 16px;
  font-weight           : 300;
  line-height           : 1.2;
  text-rendering        : optimizeLegibility;
  // Selection
  *::-moz-selection {
    background-color: rgba($accent, 0.3);
    text-shadow     : none;
  }
  //
  *::selection {
    background-color: rgba($accent, 0.3);
    text-shadow     : none;
  }
}
// Base Elements Styles
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-weight: 500;
//   margin     : 0;
//   padding    : 0;
// }

strong {
  font-weight: 500;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

.copyright {
  font-size  : 12px;
  color      : $grey;
  line-height: 1.2;
  margin-top : 37px;
  text-align : center;
  @media (min-width: 1000px) {
    font-size: 14px;
  }
}
// Text

.text {
  @include variant(extrasmall) {
    font-size: 10px;
  }
  @include variant(small) {
    font-size: 12px;
    @media (min-width: 1000px) {
      font-size: 14px;
    }
  }
  @include variant(medium) {
    font-size: 16px;
  };
  @include variant(large) {
    font-size  : 18px;
    color      : $black;
    line-height: 1.2;
    text-align : left;
    margin     : 0;

    @media (min-width: 1000px) {
      font-size  : 20px;
    }
  };
  @include variant(extralarge) {
    font-size  : 72px;
    font-weight: 500;
  };
  @include variant(mutted) {
    color: $grey-m;
  };
  @include variant(date) {
    margin-bottom: 20px;
    @media (min-width: 1000px) {
      margin-bottom: 60px;
    }
    display      : block;
  };
}

.contacts {
  @include variant(office) {
    text-align: center;
  };
  @include variant(footer) {
    text-align   : center;
    margin-bottom: 38px;

    .link--phone {
      font-size    : 21px;
      font-weight  : 500;
      border-bottom: 1px dashed $white;
      color        : $white;
    }

    .btn--call-back {
      display       : block;
      width         : auto;
      margin        : 10px auto 0;
      font-size     : 12px;
      font-weight   : 500;
      text-transform: uppercase;

      .sticky .footer & {
        display: block;
      }
    }
  };
}
