extends ./views/_layout.pug
block vars
  - var pageTitle = 'About News'
  - var bodyClass = 'about'

block content
  .page
    //- Menu Button
    button.btn.btn--nav-toggle#js-nav-toggle
      svg.inline-svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='320px', height='220.5px', viewbox='0 0 32 22.5', enable-background='new 0 0 32 22.5', xml:space='preserve')
        title Mobile Menu
        g.svg-menu-toggle
          path.bar(d='M20.945,8.75c0,0.69-0.5,1.25-1.117,1.25H3.141c-0.617,0-1.118-0.56-1.118-1.25l0,0\
          c0-0.69,0.5-1.25,1.118-1.25h16.688C20.445,7.5,20.945,8.06,20.945,8.75L20.945,8.75z')
          path.bar(d='M20.923,15c0,0.689-0.501,1.25-1.118,1.25H3.118C2.5,16.25,2,15.689,2,15l0,0c0-0.689,0.5-1.25,1.118-1.25 h16.687C20.422,13.75,20.923,14.311,20.923,15L20.923,15z')
          path.bar(d='M20.969,21.25c0,0.689-0.5,1.25-1.117,1.25H3.164c-0.617,0-1.118-0.561-1.118-1.25l0,0\
          c0-0.689,0.5-1.25,1.118-1.25h16.688C20.469,20,20.969,20.561,20.969,21.25L20.969,21.25z')
          // needs to be here as a 'hit area'
          rect(width='320', height='220', fill='none')
    //- Menu Button End
    //- Top Panel
    include includes/_top-panel
    //- Top Panel End
    main.content#js-top
      header.header.header--main
        .header__inner   
          //- h1.heading.heading--main О доме
          nav.nav.nav--inline
            ul.nav__list
              li.nav__item
                a(href="about-architect.html").nav__link Архитектура
              li.nav__item
                a(href="about-quality.html").nav__link Качество жизни
              li.nav__item
                a(href="about-location.html").nav__link Расположение
              
              li.nav__item.nav__item--divider
                .heading.heading--main В центре жизни
              
              li.nav__item
                a(href="about-docs.html").nav__link Документы
              li.nav__item
                a(href="about-building.html").nav__link Ход строительства
              li.nav__item.nav__item--active
                a(href="about-news.html").nav__link Новости
        
      section.section.section--news        
        a(href="about-single-news.html").card.card--news
          .card__image-container
            img(src="./assets/img/news-1.jpg" alt="").card__image
          .card__inner
            h3.card__title «Покупают район, а не квартиру»: почему уральцы выбирают ...
        
        a(href="about-single-news.html").card.card--news
          .card__image-container
            img(src="./assets/img/news-2.jpg" alt="").card__image
          .card__inner
            h3.card__title И парк, и центр: чем новый дом покорил сердца горожан
        
        a(href="about-single-news.html").card.card--news
          .card__image-container
            img(src="./assets/img/news-3.jpg" alt="").card__image
          .card__inner
            h3.card__title Сбежали от пробок и спальных районов ближе к возможностям семья ...
        
        a(href="about-single-news.html").card.card--news
          .card__image-container
            img(src="./assets/img/news-4.jpg" alt="").card__image
          .card__inner
            h3.card__title Весь район обошла с секундомером: чего хотят женщины ...
        
        a(href="about-single-news.html").card.card--news
          .card__image-container
            img(src="./assets/img/news-5.jpg" alt="").card__image
          .card__inner
            h3.card__title От холостяцкой берлоги до семейного гнёздышка: подбор планировок ...
        
        a(href="about-single-news.html").card.card--news
          .card__image-container
            img(src="./assets/img/news-1.jpg" alt="").card__image
          .card__inner
            h3.card__title «Покупают район, а не квартиру»: почему уральцы выбирают ...
        
        a(href="about-single-news.html").card.card--news
          .card__image-container
            img(src="./assets/img/news-2.jpg" alt="").card__image
          .card__inner
            h3.card__title И парк, и центр: чем новый дом покорил сердца горожан
        
        a(href="about-single-news.html").card.card--news
          .card__image-container
            img(src="./assets/img/news-3.jpg" alt="").card__image
          .card__inner
            h3.card__title Сбежали от пробок и спальных районов ближе к возможностям семья ...
        
        a(href="about-single-news.html").card.card--news
          .card__image-container
            img(src="./assets/img/news-4.jpg" alt="").card__image
          .card__inner
            h3.card__title Весь район обошла с секундомером: чего хотят женщины ...
        
        a(href="about-single-news.html").card.card--news
          .card__image-container
            img(src="./assets/img/news-5.jpg" alt="").card__image
          .card__inner
            h3.card__title От холостяцкой берлоги до семейного гнёздышка: подбор планировок ...
        
        a(href="about-single-news.html").card.card--news
          .card__image-container
            img(src="./assets/img/news-1.jpg" alt="").card__image
          .card__inner
            h3.card__title «Покупают район, а не квартиру»: почему уральцы выбирают ...
        
        a(href="about-single-news.html").card.card--news
          .card__image-container
            img(src="./assets/img/news-2.jpg" alt="").card__image
          .card__inner
            h3.card__title И парк, и центр: чем новый дом покорил сердца горожан
        
        a(href="#").card.card--news
          .card__image-container
            img(src="./assets/img/news-3.jpg" alt="").card__image
          .card__inner
            h3.card__title Сбежали от пробок и спальных районов ближе к возможностям семья ...
        
        a(href="about-single-news.html").card.card--news
          .card__image-container
            img(src="./assets/img/news-4.jpg" alt="").card__image
          .card__inner
            h3.card__title Весь район обошла с секундомером: чего хотят женщины ...
        
        a(href="about-single-news.html").card.card--news
          .card__image-container
            img(src="./assets/img/news-5.jpg" alt="").card__image
          .card__inner
            h3.card__title От холостяцкой берлоги до семейного гнёздышка: подбор планировок ...
    
        button(type="button").btn.btn--dashed.btn--news
          span.color +
          span Показать ещё
          
    
    //- Footer
    include includes/_footer
    //- Footer End
