extends ./views/_layout.pug
block vars
  - var pageTitle = 'About Documents'
  - var bodyClass = 'about'

block content
  .page
    //- Top Panel
    include includes/_top-panel
    //- Top Panel End
    main.content#js-top
      header.header.header--main
        .header__inner   
          //- h1.heading.heading--main О доме
          nav.nav.nav--inline
            ul.nav__list
              li.nav__item
                a(href="about-architect.html").nav__link Архитектура
              li.nav__item
                a(href="about-quality.html").nav__link Качество жизни
              li.nav__item
                a(href="about-location.html").nav__link Расположение
              
              li.nav__item.nav__item--divider
                .heading.heading--main В центре жизни
              
              li.nav__item.nav__item--active
                a(href="about-docs.html").nav__link Документы
              li.nav__item
                a(href="about-building.html").nav__link Ход строительства
              li.nav__item
                a(href="about-news.html").nav__link Новости
      section.section
          ul.list.list--docs
            li.list__item.list__item--pdf
              a(href="#").link.link--list
                span.list__text Договор аренды земельного участка
                span.link-info
                  span.link-info__format .pdf
                  span.link-info__size (3,5 Mb)
            li.list__item.list__item--pdf
              a(href="#").link.link--list
                span.list__text ДC к договору аренды земельного участка
                span.link-info
                  span.link-info__format .pdf
                  span.link-info__size (3,5 Mb)
            li.list__item.list__item--pdf
              a(href="#").link.link--list
                span.list__text Договор участия в долевом строительстве
                span.link-info
                  span.link-info__format .pdf
                  span.link-info__size (3,5 Mb)
            li.list__item.list__item--pdf
              a(href="#").link.link--list
                span.list__text Проектная декларация
                span.link-info
                  span.link-info__format .pdf
                  span.link-info__size (3,5 Mb)
            li.list__item.list__item--pdf
              a(href="#").link.link--list
                span.list__text Заключение о соответствии проектной декларации
                span.link-info
                  span.link-info__format .pdf
                  span.link-info__size (3,5 Mb)
            li.list__item.list__item--pdf
              a(href="#").link.link--list
                span.list__text Шаблон договора уступки
                span.link-info
                  span.link-info__format .pdf
                  span.link-info__size (3,5 Mb)
            li.list__item.list__item--pdf
              a(href="#").link.link--list
                span.list__text Шаблон инвестиционного договора на приобретение машино-места
                span.link-info
                  span.link-info__format .pdf
                  span.link-info__size (3,5 Mb)
            li.list__item.list__item--pdf
              a(href="#").link.link--list
                span.list__text Изменения в устав
                span.link-info
                  span.link-info__format .pdf
                  span.link-info__size (3,5 Mb)
            li.list__item.list__item--pdf
              a(href="#").link.link--list
                span.list__text Устав
                span.link-info
                  span.link-info__format .pdf
                  span.link-info__size (3,5 Mb)
            li.list__item.list__item--pdf
              a(href="#").link.link--list
                span.list__text ОГРН
                span.link-info
                  span.link-info__format .pdf
                  span.link-info__size (3,5 Mb)
            li.list__item.list__item--pdf
              a(href="#").link.link--list
                span.list__text Разрешение на строительство
                span.link-info
                  span.link-info__format .pdf
                  span.link-info__size (3,5 Mb)
    //- Footer
    include includes/_footer
    //- Footer End
