extends ./views/_layout.pug
block vars
  - var pageTitle = 'Gallery'
  - var bodyClass = 'gallery'

block content
  block content
    .page
      //- Menu Button
      button.btn.btn--nav-toggle#js-nav-toggle
        svg.inline-svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='320px', height='220.5px', viewbox='0 0 32 22.5', enable-background='new 0 0 32 22.5', xml:space='preserve')
          title Mobile Menu
          g.svg-menu-toggle
            path.bar(d='M20.945,8.75c0,0.69-0.5,1.25-1.117,1.25H3.141c-0.617,0-1.118-0.56-1.118-1.25l0,0\
            c0-0.69,0.5-1.25,1.118-1.25h16.688C20.445,7.5,20.945,8.06,20.945,8.75L20.945,8.75z')
            path.bar(d='M20.923,15c0,0.689-0.501,1.25-1.118,1.25H3.118C2.5,16.25,2,15.689,2,15l0,0c0-0.689,0.5-1.25,1.118-1.25 h16.687C20.422,13.75,20.923,14.311,20.923,15L20.923,15z')
            path.bar(d='M20.969,21.25c0,0.689-0.5,1.25-1.117,1.25H3.164c-0.617,0-1.118-0.561-1.118-1.25l0,0\
            c0-0.689,0.5-1.25,1.118-1.25h16.688C20.469,20,20.969,20.561,20.969,21.25L20.969,21.25z')
      //- Menu Button End
      //- Top Panel
      include includes/_top-panel
      //- Top Panel End
      //- Section
      section.section.section--gallery.section--home
        //- h2.heading.heading--hide Галерея
        //- a(href="./assets/img/gallery-1.jpg", itemprop='contentUrl', data-size='4800x3004', data-index='0').card
        .card.card--gallery
          .card__image(style="background-image:url(./assets/img/gallery-1-thumb.jpg)")
        //- a(href="./assets/img/gallery-2.jpg", itemprop='contentUrl', data-size='4794x3000', data-index='1').card
        .card.card--gallery
          .card__image(style="background-image:url(./assets/img/gallery-2-thumb.jpg)")
        //- a(href="./assets/img/gallery-3.jpg", itemprop='contentUrl', data-size='4794x3000', data-index='2').card.card--full
        .card.card--gallery.card--gallery-full
          .card__image(style="background-image:url(./assets/img/gallery-3-thumb.jpg)")
        //- a(href="./assets/img/gallery-4.jpg", itemprop='contentUrl', data-size='4794x3000', data-index='3').card
        .card.card--gallery
          .card__image(style="background-image:url(./assets/img/gallery-4-thumb.jpg)")
        //- a(href="./assets/img/gallery-5.jpg", itemprop='contentUrl', data-size='4794x3000', data-index='4').card
        .card.card--gallery
          .card__image(style="background-image:url(./assets/img/gallery-5-thumb.jpg)")
        //- a(href="./assets/img/gallery-6.jpg", itemprop='contentUrl', data-size='4794x3000', data-index='5').card.card--full
        .card.card--gallery.card--gallery-full
          .card__image(style="background-image:url(./assets/img/gallery-6-thumb.jpg)")

          //- // Root element of PhotoSwipe. Must have class pswp.
          //- .pswp(tabindex='-1', role='dialog', aria-hidden='true')
          //-   //
          //-     Background of PhotoSwipe.
          //-     It's a separate element as animating opacity is faster than rgba().
          //-   .pswp__bg
          //-   // Slides wrapper with overflow:hidden.
          //-   .pswp__scroll-wrap
          //-     //
          //-       Container that holds slides.
          //-       PhotoSwipe keeps only 3 of them in the DOM to save memory.
          //-       Don't modify these 3 pswp__item elements, data is added later on.
          //-     .pswp__container
          //-       .pswp__item
          //-       .pswp__item
          //-       .pswp__item
          //-     // Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.
          //-     .pswp__ui.pswp__ui--hidden
          //-       .pswp__top-bar
          //-         // Controls are self-explanatory. Order can be changed.
          //-         .pswp__counter
          //-         button.pswp__button.pswp__button--close(title='Close (Esc)')
          //-         button.pswp__button.pswp__button--share(title='Share')
          //-         button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
          //-         button.pswp__button.pswp__button--zoom(title='Zoom in/out')
          //-         // Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR
          //-         // element will get class pswp__preloader--active when preloader is running
          //-         .pswp__preloader
          //-           .pswp__preloader__icn
          //-             .pswp__preloader__cut
          //-               .pswp__preloader__donut
          //-       .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
          //-         .pswp__share-tooltip
          //-       button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
          //-       button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
          //-       .pswp__caption
          //-         .pswp__caption__center
                
    //- Footer
    include includes/_footer
    //- Footer End  
