extends ./views/_layout.pug
block vars
  - var pageTitle = 'Home'
  - var bodyClass = 'home'

block content
  .page
    main.content.content--main#js-top
      header.hero
        //- #js-slider.owl-carousel.owl-theme
        //-   .owl-carousel__image(style="background-image:url(./assets/img/slider_1.jpg)")
        //-   .owl-carousel__image(style="background-image:url(./assets/img/slider_2.jpg)")
        //-   .owl-carousel__image(style="background-image:url(./assets/img/slider_3.jpg)")
        //- Slider
        .slider
          //- Slider Inner
          .slider__inner
            //- Slider Item 1
            .slider__item
              .slider__image(style="background-image:url(./assets/img/slider_1.jpg)")
            //- Slider Item 2
            .slider__item
              .slider__image(style="background-image:url(./assets/img/slider_2.jpg)")
            //- Slider Item 3
            .slider__item
              .slider__image(style="background-image:url(./assets/img/slider_3.jpg)")
          //- Slider Inner
        //- Slider End
        //- Logo
        .logo.logo--hero
          a(href="/").logo__link
            svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 120.23 168.29').logo__image
              defs
                style.
                  .logo-1,.logo-2{fill:#fff;}.logo-2,.logo-3{fill-rule:evenodd;}.logo-3{fill:#c44e00;}
              title logo-hero
              g#Layer_2(data-name='Layer 2')
                g#Layer_1-2(data-name='Layer 1')
                  path.logo-1(d='M26.42,144.51c-2,0-2.24-1.08-2.41-3.2L23.67,137c-.28-3.6-2.92-4.28-4.76-4.42l0,0c2.66-.4,3.43-1.76,4-6.66l.57-4.22H26V121h-6.6v.68h2l-.51,4c-.62,5-.94,6.58-4,6.58H14.77V121.63h2.81V121H9.78v.68h2.81v10.57h-2.1c-3.06,0-3.37-1.59-4-6.58l-.51-4H8V121H1.42v.68H3.86l.57,4.22c.6,4.9,1.39,6.26,4,6.66l0,0c-1.81.14-4.48.82-4.76,4.42l-.34,4.34c-.17,2.13-.45,3.2-2.38,3.2H0v.68H1.73c3.09,0,3.77.28,4.11-4l.37-4.76c.17-2.32,1.25-3.51,4.2-3.51h2.18v11.57h-3v.71H17.8v-.71h-3V132.92H17c2.95,0,4,1.19,4.2,3.51l.37,4.76c.28,4.28,1,4,4.11,4h1.7v-.68ZM39.4,133v2.89h1.22v-6.32H39.4v2.58h-5.9V121.63h7.77v4.82h1.84V121H29v.68h2.21v22.85H29v.71H43.23v-5.61H41.39v4.9H33.51V133ZM65,121.63V121H58.22v.68h2.18v10.57H51.48V121.63h2.21V121H46.94v.68h2.21v22.85H46.94v.71h6.75v-.71H51.48V133.17h8.93v11.31H58.22v.71H65v-.71H62.76V121.63ZM78.26,133v2.89h1.22v-6.32H78.26v2.58h-5.9V121.63h7.77v4.82H82V121H67.83v.68H70v22.85H67.83v.71H82.09v-5.61H80.25v4.9H72.37V133Zm7.54-12v.68H88v22.85H85.8v.71h8.36c5.75,0,6.12-2.61,6.12-7.06,0-4.22-.62-5.64-4.05-6.09,3.12-.43,3.68-2.78,3.68-5.19,0-3.91-.54-5.9-6-5.9Zm4.54,10.91V121.63h3c4.17,0,4.17,2.1,4.17,5.22,0,3.46-.68,5-4,5Zm0,12.61V132.58h3.2c3.91,0,4.31,1.59,4.31,5.56,0,4.51-.34,6.35-4,6.35Zm27.92,0-5.61-23.61h-2.58l-5.9,23.61h-1.73v.71h5.36v-.71h-2.55l1.9-7.54h6.94l1.73,7.54h-2.95v.71H120v-.71Zm-10.88-8.39,3.34-13.49h.09l3.09,13.49Z')
                  path.logo-1(d='M3,165.94a8.38,8.38,0,0,0,1.08-4.71v-.4H6.38v5.1Zm-1.76,2.35h.85v-1.59h5.3v1.59h.85v-2.35H7.28v-5.87H3.17v1.08A7.79,7.79,0,0,1,2,165.94H1.22Zm7.91-4.93a3.33,3.33,0,0,0,1,2.49,3.38,3.38,0,0,0,2.49,1,3.48,3.48,0,0,0,3.49-3.51,3.25,3.25,0,0,0-1-2.44,3.33,3.33,0,0,0-2.47-1,3.35,3.35,0,0,0-2.49,1,3.25,3.25,0,0,0-1,2.44Zm.94,0a2.64,2.64,0,0,1,.74-1.87,2.57,2.57,0,0,1,3.66,0,2.55,2.55,0,0,1,.77,1.87,2.63,2.63,0,0,1-.77,1.93,2.57,2.57,0,0,1-3.66,0,2.72,2.72,0,0,1-.74-1.93Zm8.36,3.34.34-4.28v-1.13h0l.45,1L21,165.94h.82l1.84-3.69a6.32,6.32,0,0,0,.43-1h0v1.13l.34,4.28h.88l-.57-6.63h-.94l-2,4.08q-.21.43-.43.94h0l-.4-.94-2-4.08h-1l-.54,6.63ZM30.25,163c0,2.35,1,3.91,3.12,3.91a3,3,0,0,0,2.18-.88,3.1,3.1,0,0,0,.85-2.24,3.17,3.17,0,0,0-.79-2.24,2.91,2.91,0,0,0-4.51.57h0a3.27,3.27,0,0,1,2.13-3l2.55-1.19-.31-.74L33,158.26a4.3,4.3,0,0,0-2.13,1.81,5.94,5.94,0,0,0-.6,2.89Zm1,.77a2.32,2.32,0,0,1,.6-1.62,2,2,0,0,1,1.56-.65,1.91,1.91,0,0,1,1.47.62,2.28,2.28,0,0,1,.6,1.67,2.39,2.39,0,0,1-.6,1.7,2.13,2.13,0,0,1-3.63-1.73Zm7.74,3,3.26-4.37c.2-.28.71-1,.68-1h0s-.06.65-.06,1v4.37h.88v-6.63h-.85l-3.26,4.37c-.4.6-.62.91-.68,1h0a4.09,4.09,0,0,0,.06-1v-4.37h-.88v6.63Zm6.26-.79a3.24,3.24,0,0,0,2.3,1,2.82,2.82,0,0,0,1.76-.54,1.76,1.76,0,0,0,.71-1.5,1.57,1.57,0,0,0-1.25-1.59v0a1.49,1.49,0,0,0,1-1.53c0-1.13-.88-1.76-2.15-1.76a3.19,3.19,0,0,0-2.15.71l.4.65a2.48,2.48,0,0,1,1.62-.6c.85,0,1.36.37,1.36,1.11s-.54,1.13-1.47,1.13h-.68v.71h.79c1.08,0,1.62.4,1.62,1.16s-.71,1.3-1.62,1.3a2.39,2.39,0,0,1-1.76-.82Zm7.34.79v-3h3.88v3h.88v-6.63h-.88v2.83H52.58v-2.83H51.7v6.63ZM59,163.39a3.37,3.37,0,0,0,1,2.49,3.42,3.42,0,0,0,2.49,1,3.78,3.78,0,0,0,2.44-.94l-.4-.68a3.08,3.08,0,0,1-2,.79,2.53,2.53,0,0,1-1.79-.71,2.56,2.56,0,0,1-.77-1.93h5.07a2.81,2.81,0,0,0,0-.43,3.26,3.26,0,0,0-.71-2.18,2.5,2.5,0,0,0-2-.88,3.21,3.21,0,0,0-2.35.94,3.42,3.42,0,0,0-.94,2.52Zm1-.68a2.27,2.27,0,0,1,2.3-2,1.88,1.88,0,0,1,1.87,2Zm6.32.68a3.33,3.33,0,0,0,1,2.52,3.5,3.5,0,0,0,2.47,1,3.61,3.61,0,0,0,2.61-1.08l-.43-.65a2.93,2.93,0,0,1-2.13.91,2.63,2.63,0,0,1-1.87-.74,2.68,2.68,0,0,1-.74-1.93,2.61,2.61,0,0,1,.74-1.9,2.48,2.48,0,0,1,1.84-.77,2.86,2.86,0,0,1,2,.82l.45-.68a3.6,3.6,0,0,0-4.9.06,3.21,3.21,0,0,0-1,2.47Zm10.88,0v-.79H73.47v.79Zm2.95,3.34v-3h1l2.21,3H84.5l-2.55-3.46v0l2.3-3.15h-1l-2,2.81h-1v-2.81h-.91v6.63Zm4.82.06c1.7-.14,2.44-1.56,2.44-4.68v-1.22h2.3v5.84h.91v-6.63H86.57v2c0,2.47-.51,3.69-1.59,3.88Zm7.2-1.84a1.7,1.7,0,0,0,.65,1.42,2.48,2.48,0,0,0,3.83-1h0l-.06.57v.77h.88v-4.25A2.26,2.26,0,0,0,95,159.93a3.73,3.73,0,0,0-2.32.74l.4.68a3.29,3.29,0,0,1,1.87-.62c1.11,0,1.64.57,1.64,1.7v.2h-.4c-2.69,0-4,.77-4,2.3Zm.91-.06c.06-.91.68-1.28,1.59-1.42a7.76,7.76,0,0,1,1.56-.11h.37v.31a2.68,2.68,0,0,1-.57,1.7,1.72,1.72,0,0,1-1.47.77,1.32,1.32,0,0,1-1.47-1.25Zm6-1.47a3.33,3.33,0,0,0,1,2.52,3.49,3.49,0,0,0,2.47,1,3.61,3.61,0,0,0,2.61-1.08l-.43-.65a2.93,2.93,0,0,1-2.13.91,2.64,2.64,0,0,1-1.87-.74,2.68,2.68,0,0,1-.74-1.93,2.61,2.61,0,0,1,.74-1.9,2.48,2.48,0,0,1,1.84-.77,2.86,2.86,0,0,1,2,.82l.45-.68a3.6,3.6,0,0,0-4.9.06,3.21,3.21,0,0,0-1,2.47Zm7,0a3.44,3.44,0,0,0,1,2.52,3.67,3.67,0,0,0,5.07-.11l-.43-.65a2.92,2.92,0,0,1-2.1.91,2.53,2.53,0,0,1-2.61-2.66,2.5,2.5,0,0,1,.74-1.9,2.44,2.44,0,0,1,1.84-.77,2.85,2.85,0,0,1,1.93.82l.45-.68a3.29,3.29,0,0,0-2.41-.94,3.35,3.35,0,0,0-2.49,1,3.31,3.31,0,0,0-1,2.47Zm7,1.53a1.7,1.7,0,0,0,.65,1.42,2.48,2.48,0,0,0,3.83-1h0l0,.57v.77h.85v-4.25a2.24,2.24,0,0,0-2.47-2.52,3.76,3.76,0,0,0-2.35.74l.4.68a3.37,3.37,0,0,1,1.9-.62q1.62,0,1.62,1.7v.2h-.4c-2.66,0-4,.77-4,2.3Zm.91-.06c.06-.91.68-1.28,1.59-1.42a7.76,7.76,0,0,1,1.56-.11h.37v.31a2.68,2.68,0,0,1-.57,1.7,1.71,1.71,0,0,1-1.45.77,1.35,1.35,0,0,1-1.5-1.25Z')
                  path.logo-2(d='M8.29,74.89H88.54c-.4.57-.77,1.11-1.16,1.64H9.45c-.4-.54-.79-1.08-1.16-1.64Z')
                  path.logo-2(d='M5.37,69.9H91.43c-.28.54-.57,1.11-.88,1.64H6.25c-.31-.54-.6-1.11-.88-1.64Z')
                  path.logo-2(d='M3.19,64.91H93.61c-.2.54-.43,1.11-.65,1.64H3.84c-.23-.54-.45-1.11-.65-1.64Z')
                  path.logo-2(d='M1.66,59.9H95.14c-.14.57-.28,1.13-.43,1.67H2.11c-.17-.54-.31-1.11-.45-1.67Z')
                  path.logo-2(d='M.69,54.91H96.14c-.09.57-.17,1.13-.28,1.67H.95a15.8,15.8,0,0,1-.26-1.67Z')
                  path.logo-2(d='M.24,49.92H96.56l-.09,1.67H.33c0-.57-.06-1.11-.08-1.67Z')
                  path.logo-2(d='M.33,44.93H96.48l.09,1.67H.24c0-.57.06-1.11.08-1.67Z')
                  path.logo-2(d='M.92,39.94h95a15.83,15.83,0,0,1,.26,1.67H.67c.08-.57.17-1.13.26-1.67Z')
                  path.logo-2(d='M2.06,35H94.75c.17.54.31,1.11.45,1.67H1.63c.11-.57.28-1.13.43-1.67Z')
                  path.logo-2(d='M3.78,30H93c.23.54.45,1.11.65,1.64H3.13c.23-.54.43-1.11.65-1.64Z')
                  path.logo-2(d='M6.17,25H90.64l.88,1.64H5.31c.26-.54.57-1.11.85-1.64Z')
                  path.logo-2(d='M9.34,20H87.46c.4.54.79,1.08,1.16,1.64H8.18c.4-.57.77-1.11,1.16-1.64Z')
                  path.logo-2(d='M13.48,15H83.32c.51.57,1,1.11,1.5,1.67H12c.48-.57,1-1.11,1.5-1.67Z')
                  path.logo-2(d='M19,10H77.77c.71.54,1.39,1.11,2,1.67H17c.65-.57,1.33-1.13,2-1.67Z')
                  path.logo-2(d='M27,5H69.77c1,.54,2.07,1.08,3.06,1.67H24C25,6.07,26,5.53,27,5Z')
                  path.logo-2(d='M36.33,94.85H60.48a48.4,48.4,0,0,1-24.15,0Z')
                  path.logo-2(d='M24.19,89.86H72.61c-1,.6-2,1.16-3.12,1.67H27.31c-1.08-.51-2.1-1.08-3.12-1.67Z')
                  path.logo-2(d='M17.16,84.87h62.5c-.68.57-1.36,1.13-2.07,1.67H19.2c-.68-.54-1.39-1.11-2-1.67Z')
                  path.logo-2(d='M12.09,79.88H84.71c-.51.57-1,1.11-1.53,1.67H13.62l-1.53-1.67Z')
                  path.logo-2(d='M61,1.67H35.82A48.19,48.19,0,0,1,61,1.67Z')
                  path.logo-3(d='M72,96.38A48.19,48.19,0,1,0,23.83,48.19,48.29,48.29,0,0,0,72,96.38Z')
                  rect.logo-1(x='75.93' y='83.88' width='5.81' height='2.66')
                  rect.logo-1(x='74.65' y='78.89' width='8.36' height='2.66')
                  rect.logo-1(x='63.6' y='68.91' width='7.99' height='2.64')
                  rect.logo-1(x='86.07' y='68.91' width='7.99' height='2.64')
                  rect.logo-1(x='69.77' y='63.92' width='6.43' height='2.64')
                  rect.logo-1(x='74.65' y='58.93' width='8.36' height='2.64')
                  rect.logo-1(x='75.93' y='53.94' width='5.81' height='2.64')
                  rect.logo-1(x='75.93' y='48.95' width='5.81' height='2.64')
                  rect.logo-1(x='75.93' y='43.97' width='5.81' height='2.64')
                  rect.logo-1(x='75.93' y='38.95' width='5.81' height='2.66')
                  rect.logo-1(x='75.93' y='33.96' width='10.46' height='2.66')
                  rect.logo-1(x='91.83' y='33.96' width='5.92' height='2.66')
                  rect.logo-1(x='75.93' y='28.97' width='21.83' height='2.64')
                  rect.logo-1(x='75.93' y='23.98' width='10.46' height='2.64')
                  rect.logo-1(x='75.93' y='18.99' width='21.83' height='2.64')
                  rect.logo-1(x='75.93' y='14' width='10.46' height='2.64')
                  rect.logo-1(x='91.83' y='14' width='5.92' height='2.64')
                  rect.logo-1(x='75.93' y='9.01' width='5.81' height='2.64')
                  rect.logo-1(x='81.45' y='63.92' width='6.43' height='2.64')
                  rect.logo-1(x='69.77' y='73.9' width='6.43' height='2.64')
                  rect.logo-1(x='81.45' y='73.9' width='6.43' height='2.64')
        //- Logo End
        //- Hero Inner
        .hero__inner            
          h1.hero__title Центр вашей жизни
          a(href="#").btn.btn--base Узнать о доме
        //- Hero Inner End
        //- Button Down
        a(href="#js-down" title="Вернуться к началу").link.link--to-down 
          svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32.04 57.72').icon.icon--arrow-down
            g#Layer_2(data-name='Layer 2')
              g#Layer_1-2(data-name='Layer 1')
                path(d='M32,28.86a3.16,3.16,0,0,0-.93-2.25L5.43.94A3.16,3.16,0,0,0,3.18,0h0A3.19,3.19,0,0,0,0,3.19,3.16,3.16,0,0,0,.93,5.44L24.36,28.86.93,52.29a3.18,3.18,0,1,0,4.5,4.5L31.11,31.11A3.15,3.15,0,0,0,32,28.86Z')
        //- Button Down En
      
      .top-panel#js-down
        .top-panel__inner
          //- Logo
          .logo
            a(href="/").logo__link
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 272.32 96.38').logo__image
                defs
                  style.
                    .logo-h-1,.logo-h-3,.logo-h-5{fill:#fff;}.logo-h-2,.logo-h-3,.logo-h-4{fill-rule:evenodd;}.logo-h-4{fill:#c44e00;}
                g#Layer_2(data-name='Layer 2')
                  g#Layer_1-2(data-name='Layer 1')
                    path.logo-h-1(d='M171.61,48.1c-2.07,0-2.38-1.13-2.58-3.4L168.69,40c-.31-3.88-3.17-4.62-5.13-4.76l0,0c2.83-.43,3.68-1.9,4.34-7.17l.6-4.54h2.64v-.74h-7.09v.74h2.18l-.54,4.28c-.68,5.36-1,7.09-4.31,7.09h-2.3V23.53h3v-.74h-8.39v.74h3V34.89h-2.27c-3.29,0-3.63-1.73-4.31-7.09l-.54-4.28h2.18v-.74h-7.09v.74h2.64l.6,4.54c.65,5.27,1.5,6.75,4.34,7.17l0,0c-2,.14-4.82.88-5.1,4.76l-.37,4.68c-.2,2.27-.48,3.4-2.58,3.4h-1v.74h1.84c3.32,0,4.05.31,4.42-4.28l.4-5.1c.17-2.52,1.33-3.8,4.51-3.8h2.35V48.08H153.5v.77h8.87v-.77h-3.26V35.66h2.38c3.17,0,4.34,1.28,4.54,3.8l.37,5.1c.31,4.59,1.11,4.28,4.42,4.28h1.87V48.1Zm14-12.39v3.09h1.3V32h-1.3v2.78h-6.32V23.53h8.36v5.19h2V22.79H174.39v.74h2.35V48.08h-2.35v.77h15.34v-6h-2v5.27h-8.48V35.72Zm27.5-12.19v-.74h-7.26v.74h2.38V34.89H198.6V23.53h2.35v-.74h-7.23v.74h2.35V48.08h-2.35v.77h7.23v-.77H198.6V35.94h9.61V48.08h-2.38v.77h7.26v-.77H210.7V23.53Zm14.29,12.19v3.09h1.3V32h-1.3v2.78H221V23.53h8.36v5.19h2V22.79H216.17v.74h2.35V48.08h-2.35v.77h15.34v-6h-2v5.27H221V35.72Zm8.14-12.93v.74h2.35V48.08H235.5v.77h9c6.21,0,6.58-2.78,6.58-7.57,0-4.56-.65-6.07-4.37-6.55,3.37-.45,4-3,4-5.58,0-4.2-.6-6.35-6.49-6.35Zm4.88,11.74v-11h3.2c4.51,0,4.51,2.27,4.51,5.61,0,3.71-.74,5.39-4.28,5.39Zm0,13.55V35.29h3.43c4.2,0,4.62,1.7,4.62,6,0,4.85-.34,6.8-4.22,6.8Zm30,0-6.07-25.4h-2.78l-6.32,25.4h-1.87v.77h5.75v-.77h-2.72l2-8.08h7.48l1.87,8.08h-3.2v.77h7.74v-.77Zm-11.74-9,3.6-14.51h.08l3.34,14.51Z')
                    path.logo-h-1(d='M146.44,71.18a9.33,9.33,0,0,0,1.16-5.07v-.43h2.49v5.5Zm-1.93,2.52h.94V72h5.7v1.7h.91V71.18h-1V64.86h-4.42V66c0,2.35-.4,4.05-1.25,5.16h-.88ZM153,68.4a3.73,3.73,0,0,0,3.77,3.77,3.59,3.59,0,0,0,2.64-1.08,3.68,3.68,0,0,0,1.11-2.69,3.51,3.51,0,0,0-1.11-2.64,3.59,3.59,0,0,0-2.64-1.08,3.66,3.66,0,0,0-2.66,1.08A3.51,3.51,0,0,0,153,68.4Zm1,0a2.8,2.8,0,0,1,.79-2,2.77,2.77,0,0,1,3.94,0,2.69,2.69,0,0,1,.79,2,2.87,2.87,0,0,1-.79,2.07,2.77,2.77,0,0,1-3.94,0A3,3,0,0,1,154,68.4Zm9,3.6.37-4.62V66.16h0l.45,1,2,4h.88l2-4a9.6,9.6,0,0,0,.45-1h0v1.22l.34,4.62h1l-.6-7.14h-1l-2.15,4.39q-.21.47-.43,1h0l-.45-1-2.13-4.39h-1l-.6,7.14Zm12.73-4.05c0,2.55,1.11,4.22,3.37,4.22a3.1,3.1,0,0,0,2.32-.94,3.39,3.39,0,0,0,.91-2.41,3.33,3.33,0,0,0-.85-2.41,3.1,3.1,0,0,0-4.82.62h0a3.45,3.45,0,0,1,2.27-3.29l2.75-1.25-.37-.82-2.61,1.25a4.49,4.49,0,0,0-2.32,1.93,6.79,6.79,0,0,0-.62,3.09Zm1,.85a2.59,2.59,0,0,1,.65-1.76,2.29,2.29,0,0,1,1.7-.71,2,2,0,0,1,1.56.68,2.85,2.85,0,0,1,0,3.63,2.12,2.12,0,0,1-1.62.68,2.31,2.31,0,0,1-2.3-2.52Zm8.33,3.2,3.51-4.71c.2-.31.77-1,.71-1h0s0,.68,0,1V72h.94V64.86h-.91l-3.51,4.68c-.45.65-.68,1-.74,1.08h0a5.42,5.42,0,0,0,.06-1.08V64.86h-.94V72Zm6.75-.88a3.37,3.37,0,0,0,2.47,1,3.12,3.12,0,0,0,1.87-.57A1.89,1.89,0,0,0,197,70a1.71,1.71,0,0,0-1.36-1.73v0a1.59,1.59,0,0,0,1.11-1.62c0-1.25-1-1.93-2.32-1.93a3.41,3.41,0,0,0-2.32.79l.43.68a2.81,2.81,0,0,1,1.76-.65c.91,0,1.47.43,1.47,1.22s-.6,1.19-1.59,1.19h-.77v.77h.88c1.13,0,1.73.43,1.73,1.28s-.77,1.39-1.73,1.39a2.6,2.6,0,0,1-1.9-.88Zm7.91.88V68.77h4.14V72h1V64.86h-1v3.06h-4.14V64.86h-1V72Zm6.92-3.57a3.63,3.63,0,0,0,1.08,2.69,3.75,3.75,0,0,0,2.66,1,4.09,4.09,0,0,0,2.64-1l-.43-.74a3.16,3.16,0,0,1-2.18.85,2.63,2.63,0,0,1-1.93-.77,2.67,2.67,0,0,1-.82-2.07h5.47c0-.2,0-.37,0-.48a3.4,3.4,0,0,0-.79-2.32,2.61,2.61,0,0,0-2.18-1,3.4,3.4,0,0,0-2.52,1,3.68,3.68,0,0,0-1,2.72Zm1-.74a2.45,2.45,0,0,1,2.47-2.21,2,2,0,0,1,2,2.21Zm6.8.74a3.57,3.57,0,0,0,1,2.69,3.7,3.7,0,0,0,2.69,1A3.89,3.89,0,0,0,221.07,71l-.45-.74a3.11,3.11,0,0,1-2.27,1,2.93,2.93,0,0,1-2-4.93,2.63,2.63,0,0,1,2-.79,2.94,2.94,0,0,1,2.07.88l.51-.74a3.71,3.71,0,0,0-2.61-1,3.61,3.61,0,0,0-2.66,1.08,3.46,3.46,0,0,0-1.08,2.66Zm11.71,0v-.88h-4v.88Zm3.15,3.6V68.74h1.16L232.92,72h1.19l-2.78-3.71v0l2.49-3.4H232.7l-2.15,3h-1.13v-3h-1V72Zm5.19.06c1.84-.17,2.64-1.67,2.64-5v-1.3h2.47V72h1V64.86H236.3V67c0,2.66-.51,4-1.7,4.17Zm7.77-2a1.81,1.81,0,0,0,.71,1.53,2.73,2.73,0,0,0,1.7.57,2.65,2.65,0,0,0,2.38-1.62h0l0,.6V72h.91V67.44a2.42,2.42,0,0,0-2.64-2.75,4,4,0,0,0-2.52.82l.43.74a3.4,3.4,0,0,1,2-.68c1.16,0,1.73.6,1.73,1.84v.2h-.4q-4.34,0-4.34,2.47Zm1-.09c.06-.94.74-1.36,1.73-1.5a8.59,8.59,0,0,1,1.64-.11h.4v.31a3,3,0,0,1-.6,1.84,1.78,1.78,0,0,1-1.56.82A1.44,1.44,0,0,1,243.33,70Zm6.49-1.56a3.57,3.57,0,0,0,1,2.69,3.7,3.7,0,0,0,2.69,1A3.89,3.89,0,0,0,256.34,71l-.45-.74a3.11,3.11,0,0,1-2.27,1,2.93,2.93,0,0,1-2-4.93,2.63,2.63,0,0,1,2-.79,2.94,2.94,0,0,1,2.07.88l.51-.74a3.71,3.71,0,0,0-2.61-1,3.61,3.61,0,0,0-2.66,1.08,3.46,3.46,0,0,0-1.08,2.66Zm7.51,0a3.57,3.57,0,0,0,1,2.69,3.7,3.7,0,0,0,2.69,1A3.89,3.89,0,0,0,263.85,71l-.45-.74a3.11,3.11,0,0,1-2.27,1,2.93,2.93,0,0,1-2-4.93,2.63,2.63,0,0,1,2-.79,2.94,2.94,0,0,1,2.07.88l.51-.74a3.71,3.71,0,0,0-2.61-1,3.61,3.61,0,0,0-2.66,1.08,3.46,3.46,0,0,0-1.08,2.66Zm7.54,1.64a1.81,1.81,0,0,0,.71,1.53,2.73,2.73,0,0,0,1.7.57,2.65,2.65,0,0,0,2.38-1.62h0l0,.6V72h.91V67.44a2.42,2.42,0,0,0-2.64-2.75,4,4,0,0,0-2.52.82l.43.74a3.4,3.4,0,0,1,2-.68c1.16,0,1.73.6,1.73,1.84v.2h-.43c-2.86,0-4.31.82-4.31,2.47Zm1-.09c.06-.94.74-1.36,1.73-1.5a8.59,8.59,0,0,1,1.64-.11h.4v.31a3,3,0,0,1-.6,1.84,1.78,1.78,0,0,1-1.56.82A1.44,1.44,0,0,1,265.83,70Z')
                    path.logo-h-2(d='M11.85,79.88H84.47c-.51.57-1,1.11-1.53,1.67H13.38l-1.53-1.67Z')
                    path.logo-h-3(d='M8.05,74.89H88.3c-.4.57-.77,1.11-1.16,1.64H9.21c-.4-.54-.79-1.08-1.16-1.64Z')
                    path.logo-h-3(d='M5.13,69.9H91.19c-.28.54-.57,1.11-.88,1.64H6c-.31-.54-.6-1.11-.88-1.64Z')
                    path.logo-h-3(d='M2.95,64.91H93.37c-.2.54-.43,1.11-.65,1.64H3.6c-.23-.54-.45-1.11-.65-1.64Z')
                    path.logo-h-3(d='M1.42,59.9H94.9c-.14.57-.28,1.13-.43,1.67H1.87c-.17-.54-.31-1.11-.45-1.67Z')
                    path.logo-h-3(d='M.45,54.91H95.9c-.09.57-.17,1.13-.28,1.67H.71a15.8,15.8,0,0,1-.26-1.67Z')
                    path.logo-h-3(d='M0,49.92H96.32l-.09,1.67H.08C.06,51,0,50.49,0,49.92Z')
                    path.logo-h-3(d='M.08,44.93H96.24l.09,1.67H0c0-.57.06-1.11.08-1.67Z')
                    path.logo-h-3(d='M.68,39.94h95a15.83,15.83,0,0,1,.26,1.67H.43c.09-.57.17-1.13.26-1.67Z')
                    path.logo-h-3(d='M1.81,35H94.51c.17.54.31,1.11.45,1.67H1.39c.11-.57.28-1.13.43-1.67Z')
                    path.logo-h-3(d='M3.54,30H92.78c.23.54.45,1.11.65,1.64H2.89c.23-.54.43-1.11.65-1.64Z')
                    path.logo-h-3(d='M5.92,25H90.4l.88,1.64H5.07c.26-.54.57-1.11.85-1.64Z')
                    path.logo-h-3(d='M9.1,20H87.22c.4.54.79,1.08,1.16,1.64H7.94c.4-.57.77-1.11,1.16-1.64Z')
                    path.logo-h-3(d='M13.24,15H83.08c.51.57,1,1.11,1.5,1.67H11.74c.48-.57,1-1.11,1.5-1.67Z')
                    path.logo-h-3(d='M18.79,10H77.53c.71.54,1.39,1.11,2,1.67H16.75c.65-.57,1.33-1.13,2-1.67Z')
                    path.logo-h-3(d='M26.79,5H69.53c1,.54,2.07,1.08,3.06,1.67H23.73c1-.6,2-1.13,3.06-1.67Z')
                    path.logo-h-3(d='M36.08,94.85H60.24a48.4,48.4,0,0,1-24.15,0Z')
                    path.logo-h-3(d='M24,89.86H72.37c-1,.6-2,1.16-3.12,1.67H27.07C26,91,25,90.45,24,89.86Z')
                    path.logo-h-3(d='M16.92,84.87h62.5c-.68.57-1.36,1.13-2.07,1.67H19c-.68-.54-1.39-1.11-2-1.67Z')
                    path.logo-h-3(d='M11.85,79.88H84.47c-.51.57-1,1.11-1.53,1.67H13.38l-1.53-1.67Z')
                    path.logo-h-3(d='M60.75,1.67H35.57a48.19,48.19,0,0,1,25.17,0Z')
                    path.logo-h-4(d='M71.8,96.38A48.19,48.19,0,1,0,23.58,48.19,48.29,48.29,0,0,0,71.8,96.38Z')
                    rect.logo-h-5(x='75.68' y='83.88' width='5.81' height='2.66')
                    rect.logo-h-5(x='74.41' y='78.89' width='8.36' height='2.66')
                    rect.logo-h-5(x='63.35' y='68.91' width='7.99' height='2.64')
                    rect.logo-h-5(x='85.83' y='68.91' width='7.99' height='2.64')
                    rect.logo-h-5(x='69.53' y='63.92' width='6.43' height='2.64')
                    rect.logo-h-5(x='74.41' y='58.93' width='8.36' height='2.64')
                    rect.logo-h-5(x='75.68' y='53.94' width='5.81' height='2.64')
                    rect.logo-h-5(x='75.68' y='48.95' width='5.81' height='2.64')
                    rect.logo-h-5(x='75.68' y='43.97' width='5.81' height='2.64')
                    rect.logo-h-5(x='75.68' y='38.95' width='5.81' height='2.66')
                    rect.logo-h-5(x='75.68' y='33.96' width='10.46' height='2.66')
                    rect.logo-h-5(x='91.59' y='33.96' width='5.92' height='2.66')
                    rect.logo-h-5(x='75.68' y='28.97' width='21.83' height='2.64')
                    rect.logo-h-5(x='75.68' y='23.98' width='10.46' height='2.64')
                    rect.logo-h-5(x='75.68' y='18.99' width='21.83' height='2.64')
                    rect.logo-h-5(x='75.68' y='14' width='10.46' height='2.64')
                    rect.logo-h-5(x='91.59' y='14' width='5.92' height='2.64')
                    rect.logo-h-5(x='75.68' y='9.01' width='5.81' height='2.64')
                    rect.logo-h-5(x='81.21' y='63.92' width='6.43' height='2.64')
                    rect.logo-h-5(x='69.53' y='73.9' width='6.43' height='2.64')
                    rect.logo-h-5(x='81.21' y='73.9' width='6.43' height='2.64')
          //- Logo End
          //- Menu
          include includes/_main-nav
          //- Menu End
          //- Phone
          address.address
            a(href="tel:+73432885300").link +7 (343) 288 53 00
            //- Button Call Me
            button.btn.btn--transparent 
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 347.53 347.54').icon.icon--phone
                g
                  path(d='M292.28,217.41c-12.56-12.4-28.24-12.4-40.72,0-9.52,9.44-19,18.88-28.4,28.48-2.56,2.64-4.72,3.2-7.84,1.44-6.16-3.36-12.72-6.08-18.64-9.76-27.6-17.36-50.72-39.68-71.2-64.8-10.16-12.48-19.2-25.84-25.52-40.88-1.28-3-1-5,1.44-7.52,9.52-9.2,18.8-18.64,28.16-28.08,13-13.12,13-28.48-.08-41.68-7.44-7.52-14.88-14.88-22.32-22.4-7.68-7.68-15.28-15.44-23-23C71.56-3.07,55.88-3.07,43.4,9.25c-9.6,9.44-18.8,19.12-28.56,28.4-9,8.56-13.6,19-14.56,31.28-1.52,19.92,3.36,38.72,10.24,57C24.6,163.89,46,197.57,72,228.45c35.12,41.76,77,74.8,126.08,98.64,22.08,10.72,45,19,69.84,20.32,17.12,1,32-3.36,43.92-16.72,8.16-9.12,17.36-17.44,26-26.16,12.8-13,12.88-28.64.16-41.44q-22.8-22.92-45.76-45.68Zm0,0')
              | Позвоните мне
            //- Button Call Me End  
          //- Phone End
      
      .main-content
        .card
          .card__image(style="background-image:url(./assets/img/home-card-1.jpg)")
          //- img(src="./assets/img/home-card-1.jpg" alt="").card__image
          .card__inner
            h3.card__title Изысканная архитектура
            a(href="#").btn.btn--more
              .btn__lines
              .btn__bg
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32.04 57.72').icon.icon--arrow-left
                g#Layer_2(data-name='Layer 2')
                  g#Layer_1-2(data-name='Layer 1')
                    path(d='M32,28.86a3.16,3.16,0,0,0-.93-2.25L5.43.94A3.16,3.16,0,0,0,3.18,0h0A3.19,3.19,0,0,0,0,3.19,3.16,3.16,0,0,0,.93,5.44L24.36,28.86.93,52.29a3.18,3.18,0,1,0,4.5,4.5L31.11,31.11A3.15,3.15,0,0,0,32,28.86Z')
        .card
          .card__image(style="background-image:url(./assets/img/home-card-2.jpg)")
          //- img(src="./assets/img/home-card-2.jpg" alt="").card__image
          .card__inner
            h3.card__title Увеличенные окна
            a(href="#").btn.btn--more
              .btn__lines
              .btn__bg
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32.04 57.72').icon.icon--arrow-left
                g#Layer_2(data-name='Layer 2')
                  g#Layer_1-2(data-name='Layer 1')
                    path(d='M32,28.86a3.16,3.16,0,0,0-.93-2.25L5.43.94A3.16,3.16,0,0,0,3.18,0h0A3.19,3.19,0,0,0,0,3.19,3.16,3.16,0,0,0,.93,5.44L24.36,28.86.93,52.29a3.18,3.18,0,1,0,4.5,4.5L31.11,31.11A3.15,3.15,0,0,0,32,28.86Z')
        .card
          .card__image(style="background-image:url(./assets/img/home-card-3.jpg)")
          //- img(src="./assets/img/home-card-3.jpg" alt="").card__image
          .card__inner
            h3.card__title Просторные холлы
            a(href="#").btn.btn--more
              .btn__lines
              .btn__bg
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32.04 57.72').icon.icon--arrow-left
                g#Layer_2(data-name='Layer 2')
                  g#Layer_1-2(data-name='Layer 1')
                    path(d='M32,28.86a3.16,3.16,0,0,0-.93-2.25L5.43.94A3.16,3.16,0,0,0,3.18,0h0A3.19,3.19,0,0,0,0,3.19,3.16,3.16,0,0,0,.93,5.44L24.36,28.86.93,52.29a3.18,3.18,0,1,0,4.5,4.5L31.11,31.11A3.15,3.15,0,0,0,32,28.86Z')
        .card.card--large
          .card__image(style="background-image:url(./assets/img/home-card-4.jpg)")
          //- img(src="./assets/img/home-card-4.jpg" alt="").card__image
          .card__inner
            h3.card__title Благоустроенный двор
            a(href="#").btn.btn--more
              .btn__lines
              .btn__bg
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32.04 57.72').icon.icon--arrow-left
                g#Layer_2(data-name='Layer 2')
                  g#Layer_1-2(data-name='Layer 1')
                    path(d='M32,28.86a3.16,3.16,0,0,0-.93-2.25L5.43.94A3.16,3.16,0,0,0,3.18,0h0A3.19,3.19,0,0,0,0,3.19,3.16,3.16,0,0,0,.93,5.44L24.36,28.86.93,52.29a3.18,3.18,0,1,0,4.5,4.5L31.11,31.11A3.15,3.15,0,0,0,32,28.86Z')
        .card.card--large
          .card__image(style="background-image:url(./assets/img/home-card-5.jpg)")
          //- img(src="./assets/img/home-card-5.jpg" alt="").card__image
          .card__inner
            h3.card__title Вода высшего качества
            a(href="#").btn.btn--more
              .btn__lines
              .btn__bg
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32.04 57.72').icon.icon--arrow-left
                g#Layer_2(data-name='Layer 2')
                  g#Layer_1-2(data-name='Layer 1')
                    path(d='M32,28.86a3.16,3.16,0,0,0-.93-2.25L5.43.94A3.16,3.16,0,0,0,3.18,0h0A3.19,3.19,0,0,0,0,3.19,3.16,3.16,0,0,0,.93,5.44L24.36,28.86.93,52.29a3.18,3.18,0,1,0,4.5,4.5L31.11,31.11A3.15,3.15,0,0,0,32,28.86Z')
        .card
          .card__image(style="background-image:url(./assets/img/home-card-6.jpg)")
          //- img(src="./assets/img/home-card-6.jpg" alt="").card__image
          .card__inner
            h3.card__title Чистый воздух в квартире
            a(href="#").btn.btn--more
              .btn__lines
              .btn__bg
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32.04 57.72').icon.icon--arrow-left
                g#Layer_2(data-name='Layer 2')
                  g#Layer_1-2(data-name='Layer 1')
                    path(d='M32,28.86a3.16,3.16,0,0,0-.93-2.25L5.43.94A3.16,3.16,0,0,0,3.18,0h0A3.19,3.19,0,0,0,0,3.19,3.16,3.16,0,0,0,.93,5.44L24.36,28.86.93,52.29a3.18,3.18,0,1,0,4.5,4.5L31.11,31.11A3.15,3.15,0,0,0,32,28.86Z')
        .card
          .card__image(style="background-image:url(./assets/img/home-card-7.jpg)")
          //- img(src="./assets/img/home-card-7.jpg" alt="").card__image
          .card__inner
            h3.card__title Технологии безопасности
            a(href="#").btn.btn--more
              .btn__lines
              .btn__bg
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32.04 57.72').icon.icon--arrow-left
                g#Layer_2(data-name='Layer 2')
                  g#Layer_1-2(data-name='Layer 1')
                    path(d='M32,28.86a3.16,3.16,0,0,0-.93-2.25L5.43.94A3.16,3.16,0,0,0,3.18,0h0A3.19,3.19,0,0,0,0,3.19,3.16,3.16,0,0,0,.93,5.44L24.36,28.86.93,52.29a3.18,3.18,0,1,0,4.5,4.5L31.11,31.11A3.15,3.15,0,0,0,32,28.86Z')
        .card.card--large
          .card__image(style="background-image:url(./assets/img/home-card-8.jpg)")
          //- img(src="./assets/img/home-card-8.jpg" alt="").card__image
          .card__inner
            h3.card__title Технологии комфорта
            a(href="#").btn.btn--more
              .btn__lines
              .btn__bg
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32.04 57.72').icon.icon--arrow-left
                g#Layer_2(data-name='Layer 2')
                  g#Layer_1-2(data-name='Layer 1')
                    path(d='M32,28.86a3.16,3.16,0,0,0-.93-2.25L5.43.94A3.16,3.16,0,0,0,3.18,0h0A3.19,3.19,0,0,0,0,3.19,3.16,3.16,0,0,0,.93,5.44L24.36,28.86.93,52.29a3.18,3.18,0,1,0,4.5,4.5L31.11,31.11A3.15,3.15,0,0,0,32,28.86Z')
          
      footer.footer
        .footer__inner
          a(href="#js-top" title="Вернуться к началу").link.link--to-top 
            .btn__lines
            .btn__bg
            svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32.04 57.72').icon.icon--arrow-top
              g#Layer_2(data-name='Layer 2')
                g#Layer_1-2(data-name='Layer 1')
                  path(d='M32,28.86a3.16,3.16,0,0,0-.93-2.25L5.43.94A3.16,3.16,0,0,0,3.18,0h0A3.19,3.19,0,0,0,0,3.19,3.16,3.16,0,0,0,.93,5.44L24.36,28.86.93,52.29a3.18,3.18,0,1,0,4.5,4.5L31.11,31.11A3.15,3.15,0,0,0,32,28.86Z')
          .block
            //- Logo
            .logo
              a(href="/").logo__link
                svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 272.32 96.38').logo__image
                  defs
                    style.
                      .logo-f-1,.logo-f-3,.logo-f-4{fill:#fff;}.logo-f-2,.logo-f-3,.logo-f-4{fill-rule:evenodd;}.logo-f-5{fill:#141414;}
                  g#Layer_2(data-name='Layer 2')
                    g#Layer_1-2(data-name='Layer 1')
                      path.logo-f-1(d='M171.61,48.1c-2.07,0-2.38-1.13-2.58-3.4L168.69,40c-.31-3.88-3.17-4.62-5.13-4.76l0,0c2.83-.43,3.68-1.9,4.34-7.17l.6-4.54h2.64v-.74h-7.09v.74h2.18l-.54,4.28c-.68,5.36-1,7.09-4.31,7.09h-2.3V23.53h3v-.74h-8.39v.74h3V34.89h-2.27c-3.29,0-3.63-1.73-4.31-7.09l-.54-4.28h2.18v-.74h-7.09v.74h2.64l.6,4.54c.65,5.27,1.5,6.75,4.34,7.17l0,0c-2,.14-4.82.88-5.1,4.76l-.37,4.68c-.2,2.27-.48,3.4-2.58,3.4h-1v.74h1.84c3.32,0,4.05.31,4.42-4.28l.4-5.1c.17-2.52,1.33-3.8,4.51-3.8h2.35V48.08H153.5v.77h8.87v-.77h-3.26V35.66h2.38c3.17,0,4.34,1.28,4.54,3.8l.37,5.1c.31,4.59,1.11,4.28,4.42,4.28h1.87V48.1Zm14-12.39v3.09h1.3V32h-1.3v2.78h-6.32V23.53h8.36v5.19h2V22.79H174.39v.74h2.35V48.08h-2.35v.77h15.34v-6h-2v5.27h-8.48V35.72Zm27.5-12.19v-.74h-7.26v.74h2.38V34.89H198.6V23.53h2.35v-.74h-7.23v.74h2.35V48.08h-2.35v.77h7.23v-.77H198.6V35.94h9.61V48.08h-2.38v.77h7.26v-.77H210.7V23.53Zm14.29,12.19v3.09h1.3V32h-1.3v2.78H221V23.53h8.36v5.19h2V22.79H216.17v.74h2.35V48.08h-2.35v.77h15.34v-6h-2v5.27H221V35.72Zm8.14-12.93v.74h2.35V48.08H235.5v.77h9c6.21,0,6.58-2.78,6.58-7.57,0-4.56-.65-6.07-4.37-6.55,3.37-.45,4-3,4-5.58,0-4.2-.6-6.35-6.49-6.35Zm4.88,11.74v-11h3.2c4.51,0,4.51,2.27,4.51,5.61,0,3.71-.74,5.39-4.28,5.39Zm0,13.55V35.29h3.43c4.2,0,4.62,1.7,4.62,6,0,4.85-.34,6.8-4.22,6.8Zm30,0-6.07-25.4h-2.78l-6.32,25.4h-1.87v.77h5.75v-.77h-2.72l2-8.08h7.48l1.87,8.08h-3.2v.77h7.74v-.77Zm-11.74-9,3.6-14.51h.08l3.34,14.51Z')
                      path.logo-f-1(d='M146.44,71.18a9.33,9.33,0,0,0,1.16-5.07v-.43h2.49v5.5Zm-1.93,2.52h.94V72h5.7v1.7h.91V71.18h-1V64.86h-4.42V66c0,2.35-.4,4.05-1.25,5.16h-.88ZM153,68.4a3.73,3.73,0,0,0,3.77,3.77,3.59,3.59,0,0,0,2.64-1.08,3.68,3.68,0,0,0,1.11-2.69,3.51,3.51,0,0,0-1.11-2.64,3.59,3.59,0,0,0-2.64-1.08,3.66,3.66,0,0,0-2.66,1.08A3.51,3.51,0,0,0,153,68.4Zm1,0a2.8,2.8,0,0,1,.79-2,2.77,2.77,0,0,1,3.94,0,2.69,2.69,0,0,1,.79,2,2.87,2.87,0,0,1-.79,2.07,2.77,2.77,0,0,1-3.94,0A3,3,0,0,1,154,68.4Zm9,3.6.37-4.62V66.16h0l.45,1,2,4h.88l2-4a9.6,9.6,0,0,0,.45-1h0v1.22l.34,4.62h1l-.6-7.14h-1l-2.15,4.39q-.21.47-.43,1h0l-.45-1-2.13-4.39h-1l-.6,7.14Zm12.73-4.05c0,2.55,1.11,4.22,3.37,4.22a3.1,3.1,0,0,0,2.32-.94,3.39,3.39,0,0,0,.91-2.41,3.33,3.33,0,0,0-.85-2.41,3.1,3.1,0,0,0-4.82.62h0a3.45,3.45,0,0,1,2.27-3.29l2.75-1.25-.37-.82-2.61,1.25a4.49,4.49,0,0,0-2.32,1.93,6.79,6.79,0,0,0-.62,3.09Zm1,.85a2.59,2.59,0,0,1,.65-1.76,2.29,2.29,0,0,1,1.7-.71,2,2,0,0,1,1.56.68,2.85,2.85,0,0,1,0,3.63,2.12,2.12,0,0,1-1.62.68,2.31,2.31,0,0,1-2.3-2.52Zm8.33,3.2,3.51-4.71c.2-.31.77-1,.71-1h0s0,.68,0,1V72h.94V64.86h-.91l-3.51,4.68c-.45.65-.68,1-.74,1.08h0a5.42,5.42,0,0,0,.06-1.08V64.86h-.94V72Zm6.75-.88a3.37,3.37,0,0,0,2.47,1,3.12,3.12,0,0,0,1.87-.57A1.89,1.89,0,0,0,197,70a1.71,1.71,0,0,0-1.36-1.73v0a1.59,1.59,0,0,0,1.11-1.62c0-1.25-1-1.93-2.32-1.93a3.41,3.41,0,0,0-2.32.79l.43.68a2.81,2.81,0,0,1,1.76-.65c.91,0,1.47.43,1.47,1.22s-.6,1.19-1.59,1.19h-.77v.77h.88c1.13,0,1.73.43,1.73,1.28s-.77,1.39-1.73,1.39a2.6,2.6,0,0,1-1.9-.88Zm7.91.88V68.77h4.14V72h1V64.86h-1v3.06h-4.14V64.86h-1V72Zm6.92-3.57a3.63,3.63,0,0,0,1.08,2.69,3.75,3.75,0,0,0,2.66,1,4.09,4.09,0,0,0,2.64-1l-.43-.74a3.16,3.16,0,0,1-2.18.85,2.63,2.63,0,0,1-1.93-.77,2.67,2.67,0,0,1-.82-2.07h5.47c0-.2,0-.37,0-.48a3.4,3.4,0,0,0-.79-2.32,2.61,2.61,0,0,0-2.18-1,3.4,3.4,0,0,0-2.52,1,3.68,3.68,0,0,0-1,2.72Zm1-.74a2.45,2.45,0,0,1,2.47-2.21,2,2,0,0,1,2,2.21Zm6.8.74a3.57,3.57,0,0,0,1,2.69,3.7,3.7,0,0,0,2.69,1A3.89,3.89,0,0,0,221.07,71l-.45-.74a3.11,3.11,0,0,1-2.27,1,2.93,2.93,0,0,1-2-4.93,2.63,2.63,0,0,1,2-.79,2.94,2.94,0,0,1,2.07.88l.51-.74a3.71,3.71,0,0,0-2.61-1,3.61,3.61,0,0,0-2.66,1.08,3.46,3.46,0,0,0-1.08,2.66Zm11.71,0v-.88h-4v.88Zm3.15,3.6V68.74h1.16L232.92,72h1.19l-2.78-3.71v0l2.49-3.4H232.7l-2.15,3h-1.13v-3h-1V72Zm5.19.06c1.84-.17,2.64-1.67,2.64-5v-1.3h2.47V72h1V64.86H236.3V67c0,2.66-.51,4-1.7,4.17Zm7.77-2a1.81,1.81,0,0,0,.71,1.53,2.73,2.73,0,0,0,1.7.57,2.65,2.65,0,0,0,2.38-1.62h0l0,.6V72h.91V67.44a2.42,2.42,0,0,0-2.64-2.75,4,4,0,0,0-2.52.82l.43.74a3.4,3.4,0,0,1,2-.68c1.16,0,1.73.6,1.73,1.84v.2h-.4q-4.34,0-4.34,2.47Zm1-.09c.06-.94.74-1.36,1.73-1.5a8.59,8.59,0,0,1,1.64-.11h.4v.31a3,3,0,0,1-.6,1.84,1.78,1.78,0,0,1-1.56.82A1.44,1.44,0,0,1,243.33,70Zm6.49-1.56a3.57,3.57,0,0,0,1,2.69,3.7,3.7,0,0,0,2.69,1A3.89,3.89,0,0,0,256.34,71l-.45-.74a3.11,3.11,0,0,1-2.27,1,2.93,2.93,0,0,1-2-4.93,2.63,2.63,0,0,1,2-.79,2.94,2.94,0,0,1,2.07.88l.51-.74a3.71,3.71,0,0,0-2.61-1,3.61,3.61,0,0,0-2.66,1.08,3.46,3.46,0,0,0-1.08,2.66Zm7.51,0a3.57,3.57,0,0,0,1,2.69,3.7,3.7,0,0,0,2.69,1A3.89,3.89,0,0,0,263.85,71l-.45-.74a3.11,3.11,0,0,1-2.27,1,2.93,2.93,0,0,1-2-4.93,2.63,2.63,0,0,1,2-.79,2.94,2.94,0,0,1,2.07.88l.51-.74a3.71,3.71,0,0,0-2.61-1,3.61,3.61,0,0,0-2.66,1.08,3.46,3.46,0,0,0-1.08,2.66Zm7.54,1.64a1.81,1.81,0,0,0,.71,1.53,2.73,2.73,0,0,0,1.7.57,2.65,2.65,0,0,0,2.38-1.62h0l0,.6V72h.91V67.44a2.42,2.42,0,0,0-2.64-2.75,4,4,0,0,0-2.52.82l.43.74a3.4,3.4,0,0,1,2-.68c1.16,0,1.73.6,1.73,1.84v.2h-.43c-2.86,0-4.31.82-4.31,2.47Zm1-.09c.06-.94.74-1.36,1.73-1.5a8.59,8.59,0,0,1,1.64-.11h.4v.31a3,3,0,0,1-.6,1.84,1.78,1.78,0,0,1-1.56.82A1.44,1.44,0,0,1,265.83,70Z')
                      path.logo-f-2(d='M11.85,79.88H84.47c-.51.57-1,1.11-1.53,1.67H13.38l-1.53-1.67Z')
                      path.logo-f-3(d='M8.05,74.89H88.3c-.4.57-.77,1.11-1.16,1.64H9.21c-.4-.54-.79-1.08-1.16-1.64Z')
                      path.logo-f-3(d='M5.13,69.9H91.19c-.28.54-.57,1.11-.88,1.64H6c-.31-.54-.6-1.11-.88-1.64Z')
                      path.logo-f-3(d='M2.95,64.91H93.37c-.2.54-.43,1.11-.65,1.64H3.6c-.23-.54-.45-1.11-.65-1.64Z')
                      path.logo-f-3(d='M1.42,59.9H94.9c-.14.57-.28,1.13-.43,1.67H1.87c-.17-.54-.31-1.11-.45-1.67Z')
                      path.logo-f-3(d='M.45,54.91H95.9c-.09.57-.17,1.13-.28,1.67H.71a15.8,15.8,0,0,1-.26-1.67Z')
                      path.logo-f-3(d='M0,49.92H96.32l-.09,1.67H.08C.06,51,0,50.49,0,49.92Z')
                      path.logo-f-3(d='M.08,44.93H96.24l.09,1.67H0c0-.57.06-1.11.08-1.67Z')
                      path.logo-f-3(d='M.68,39.94h95a15.83,15.83,0,0,1,.26,1.67H.43c.09-.57.17-1.13.26-1.67Z')
                      path.logo-f-3(d='M1.81,35H94.51c.17.54.31,1.11.45,1.67H1.39c.11-.57.28-1.13.43-1.67Z')
                      path.logo-f-3(d='M3.54,30H92.78c.23.54.45,1.11.65,1.64H2.89c.23-.54.43-1.11.65-1.64Z')
                      path.logo-f-3(d='M5.92,25H90.4l.88,1.64H5.07c.26-.54.57-1.11.85-1.64Z')
                      path.logo-f-3(d='M9.1,20H87.22c.4.54.79,1.08,1.16,1.64H7.94c.4-.57.77-1.11,1.16-1.64Z')
                      path.logo-f-3(d='M13.24,15H83.08c.51.57,1,1.11,1.5,1.67H11.74c.48-.57,1-1.11,1.5-1.67Z')
                      path.logo-f-3(d='M18.79,10H77.53c.71.54,1.39,1.11,2,1.67H16.75c.65-.57,1.33-1.13,2-1.67Z')
                      path.logo-f-3(d='M26.79,5H69.53c1,.54,2.07,1.08,3.06,1.67H23.73c1-.6,2-1.13,3.06-1.67Z')
                      path.logo-f-3(d='M36.08,94.85H60.24a48.4,48.4,0,0,1-24.15,0Z')
                      path.logo-f-3(d='M24,89.86H72.37c-1,.6-2,1.16-3.12,1.67H27.07C26,91,25,90.45,24,89.86Z')
                      path.logo-f-3(d='M16.92,84.87h62.5c-.68.57-1.36,1.13-2.07,1.67H19c-.68-.54-1.39-1.11-2-1.67Z')
                      path.logo-f-3(d='M11.85,79.88H84.47c-.51.57-1,1.11-1.53,1.67H13.38l-1.53-1.67Z')
                      path.logo-f-3(d='M60.75,1.67H35.57a48.19,48.19,0,0,1,25.17,0Z')
                      path.logo-f-4(d='M71.8,96.38A48.19,48.19,0,1,0,23.58,48.19,48.29,48.29,0,0,0,71.8,96.38Z')
                      rect.logo-f-5(x='75.68' y='83.88' width='5.81' height='2.66')
                      rect.logo-f-5(x='74.41' y='78.89' width='8.36' height='2.66')
                      rect.logo-f-5(x='63.35' y='68.91' width='7.99' height='2.64')
                      rect.logo-f-5(x='85.83' y='68.91' width='7.99' height='2.64')
                      rect.logo-f-5(x='69.53' y='63.92' width='6.43' height='2.64')
                      rect.logo-f-5(x='74.41' y='58.93' width='8.36' height='2.64')
                      rect.logo-f-5(x='75.68' y='53.94' width='5.81' height='2.64')
                      rect.logo-f-5(x='75.68' y='48.95' width='5.81' height='2.64')
                      rect.logo-f-5(x='75.68' y='43.97' width='5.81' height='2.64')
                      rect.logo-f-5(x='75.68' y='38.95' width='5.81' height='2.66')
                      rect.logo-f-5(x='75.68' y='33.96' width='10.46' height='2.66')
                      rect.logo-f-5(x='91.59' y='33.96' width='5.92' height='2.66')
                      rect.logo-f-5(x='75.68' y='28.97' width='21.83' height='2.64')
                      rect.logo-f-5(x='75.68' y='23.98' width='10.46' height='2.64')
                      rect.logo-f-5(x='75.68' y='18.99' width='21.83' height='2.64')
                      rect.logo-f-5(x='75.68' y='14' width='10.46' height='2.64')
                      rect.logo-f-5(x='91.59' y='14' width='5.92' height='2.64')
                      rect.logo-f-5(x='75.68' y='9.01' width='5.81' height='2.64')
                      rect.logo-f-5(x='81.21' y='63.92' width='6.43' height='2.64')
                      rect.logo-f-5(x='69.53' y='73.9' width='6.43' height='2.64')
                      rect.logo-f-5(x='81.21' y='73.9' width='6.43' height='2.64')
            //- Logo End
            //- Address
            address.address
              h4.address__title Офис продаж
              span.address__address г.Екатеринбург, ул. Ясная, 2,
                br
                | оф. 503 (ТРЦ «Фан Фан»)
            //- Address End
          .block
            //- Social
            include includes/_social
            //- Social End
            .block.block--footer
              //- Phone
              address.address
                a(href="tel:+73432885300").link +7 (343) 288 53 00
              //- Phone End
              //- Copyright
              .copyright
                | Создано в &nbsp
                a(href="http://radigital.ru/").link.link--dashed RADIGITAL
              //- Copyright End
