extends ./views/_layout.pug
block vars
  - var pageTitle = 'Home'
  - var bodyClass = 'home'

block content
  .page
    //- Menu Button
    button.btn.btn--nav-toggle#js-nav-toggle
      svg.inline-svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='320px', height='220.5px', viewbox='0 0 32 22.5', enable-background='new 0 0 32 22.5', xml:space='preserve')
        title Mobile Menu
        g.svg-menu-toggle
          path.bar(d='M20.945,8.75c0,0.69-0.5,1.25-1.117,1.25H3.141c-0.617,0-1.118-0.56-1.118-1.25l0,0\
          c0-0.69,0.5-1.25,1.118-1.25h16.688C20.445,7.5,20.945,8.06,20.945,8.75L20.945,8.75z')
          path.bar(d='M20.923,15c0,0.689-0.501,1.25-1.118,1.25H3.118C2.5,16.25,2,15.689,2,15l0,0c0-0.689,0.5-1.25,1.118-1.25 h16.687C20.422,13.75,20.923,14.311,20.923,15L20.923,15z')
          path.bar(d='M20.969,21.25c0,0.689-0.5,1.25-1.117,1.25H3.164c-0.617,0-1.118-0.561-1.118-1.25l0,0\
          c0-0.689,0.5-1.25,1.118-1.25h16.688C20.469,20,20.969,20.561,20.969,21.25L20.969,21.25z')
          // needs to be here as a 'hit area'
          rect(width='320', height='220', fill='none')
    //- Menu Button End
    //- Header
    header.header.header--hero#js-top
      //- Slider
      #js-slider.tinyfade
        .tinyfade__image(style="background-image:url(./assets/img/slider_1.jpg)")
        .tinyfade__image(style="background-image:url(./assets/img/slider_2.jpg)")
        .tinyfade__image(style="background-image:url(./assets/img/slider_3.jpg)")
      //- Slider End
      //- Logo
      .logo.logo--hero
        a(href="/").logo__link
          svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 120.23 168.29').logo__image
            defs
              style.
                .logo-1,.logo-2{fill:#fff;}.logo-2,.logo-3{fill-rule:evenodd;}.logo-3{fill:#c44e00;}
            title logo-hero
            g#Layer_2(data-name='Layer 2')
              g#Layer_1-2(data-name='Layer 1')
                path.logo-1(d='M26.42,144.51c-2,0-2.24-1.08-2.41-3.2L23.67,137c-.28-3.6-2.92-4.28-4.76-4.42l0,0c2.66-.4,3.43-1.76,4-6.66l.57-4.22H26V121h-6.6v.68h2l-.51,4c-.62,5-.94,6.58-4,6.58H14.77V121.63h2.81V121H9.78v.68h2.81v10.57h-2.1c-3.06,0-3.37-1.59-4-6.58l-.51-4H8V121H1.42v.68H3.86l.57,4.22c.6,4.9,1.39,6.26,4,6.66l0,0c-1.81.14-4.48.82-4.76,4.42l-.34,4.34c-.17,2.13-.45,3.2-2.38,3.2H0v.68H1.73c3.09,0,3.77.28,4.11-4l.37-4.76c.17-2.32,1.25-3.51,4.2-3.51h2.18v11.57h-3v.71H17.8v-.71h-3V132.92H17c2.95,0,4,1.19,4.2,3.51l.37,4.76c.28,4.28,1,4,4.11,4h1.7v-.68ZM39.4,133v2.89h1.22v-6.32H39.4v2.58h-5.9V121.63h7.77v4.82h1.84V121H29v.68h2.21v22.85H29v.71H43.23v-5.61H41.39v4.9H33.51V133ZM65,121.63V121H58.22v.68h2.18v10.57H51.48V121.63h2.21V121H46.94v.68h2.21v22.85H46.94v.71h6.75v-.71H51.48V133.17h8.93v11.31H58.22v.71H65v-.71H62.76V121.63ZM78.26,133v2.89h1.22v-6.32H78.26v2.58h-5.9V121.63h7.77v4.82H82V121H67.83v.68H70v22.85H67.83v.71H82.09v-5.61H80.25v4.9H72.37V133Zm7.54-12v.68H88v22.85H85.8v.71h8.36c5.75,0,6.12-2.61,6.12-7.06,0-4.22-.62-5.64-4.05-6.09,3.12-.43,3.68-2.78,3.68-5.19,0-3.91-.54-5.9-6-5.9Zm4.54,10.91V121.63h3c4.17,0,4.17,2.1,4.17,5.22,0,3.46-.68,5-4,5Zm0,12.61V132.58h3.2c3.91,0,4.31,1.59,4.31,5.56,0,4.51-.34,6.35-4,6.35Zm27.92,0-5.61-23.61h-2.58l-5.9,23.61h-1.73v.71h5.36v-.71h-2.55l1.9-7.54h6.94l1.73,7.54h-2.95v.71H120v-.71Zm-10.88-8.39,3.34-13.49h.09l3.09,13.49Z')
                path.logo-1(d='M3,165.94a8.38,8.38,0,0,0,1.08-4.71v-.4H6.38v5.1Zm-1.76,2.35h.85v-1.59h5.3v1.59h.85v-2.35H7.28v-5.87H3.17v1.08A7.79,7.79,0,0,1,2,165.94H1.22Zm7.91-4.93a3.33,3.33,0,0,0,1,2.49,3.38,3.38,0,0,0,2.49,1,3.48,3.48,0,0,0,3.49-3.51,3.25,3.25,0,0,0-1-2.44,3.33,3.33,0,0,0-2.47-1,3.35,3.35,0,0,0-2.49,1,3.25,3.25,0,0,0-1,2.44Zm.94,0a2.64,2.64,0,0,1,.74-1.87,2.57,2.57,0,0,1,3.66,0,2.55,2.55,0,0,1,.77,1.87,2.63,2.63,0,0,1-.77,1.93,2.57,2.57,0,0,1-3.66,0,2.72,2.72,0,0,1-.74-1.93Zm8.36,3.34.34-4.28v-1.13h0l.45,1L21,165.94h.82l1.84-3.69a6.32,6.32,0,0,0,.43-1h0v1.13l.34,4.28h.88l-.57-6.63h-.94l-2,4.08q-.21.43-.43.94h0l-.4-.94-2-4.08h-1l-.54,6.63ZM30.25,163c0,2.35,1,3.91,3.12,3.91a3,3,0,0,0,2.18-.88,3.1,3.1,0,0,0,.85-2.24,3.17,3.17,0,0,0-.79-2.24,2.91,2.91,0,0,0-4.51.57h0a3.27,3.27,0,0,1,2.13-3l2.55-1.19-.31-.74L33,158.26a4.3,4.3,0,0,0-2.13,1.81,5.94,5.94,0,0,0-.6,2.89Zm1,.77a2.32,2.32,0,0,1,.6-1.62,2,2,0,0,1,1.56-.65,1.91,1.91,0,0,1,1.47.62,2.28,2.28,0,0,1,.6,1.67,2.39,2.39,0,0,1-.6,1.7,2.13,2.13,0,0,1-3.63-1.73Zm7.74,3,3.26-4.37c.2-.28.71-1,.68-1h0s-.06.65-.06,1v4.37h.88v-6.63h-.85l-3.26,4.37c-.4.6-.62.91-.68,1h0a4.09,4.09,0,0,0,.06-1v-4.37h-.88v6.63Zm6.26-.79a3.24,3.24,0,0,0,2.3,1,2.82,2.82,0,0,0,1.76-.54,1.76,1.76,0,0,0,.71-1.5,1.57,1.57,0,0,0-1.25-1.59v0a1.49,1.49,0,0,0,1-1.53c0-1.13-.88-1.76-2.15-1.76a3.19,3.19,0,0,0-2.15.71l.4.65a2.48,2.48,0,0,1,1.62-.6c.85,0,1.36.37,1.36,1.11s-.54,1.13-1.47,1.13h-.68v.71h.79c1.08,0,1.62.4,1.62,1.16s-.71,1.3-1.62,1.3a2.39,2.39,0,0,1-1.76-.82Zm7.34.79v-3h3.88v3h.88v-6.63h-.88v2.83H52.58v-2.83H51.7v6.63ZM59,163.39a3.37,3.37,0,0,0,1,2.49,3.42,3.42,0,0,0,2.49,1,3.78,3.78,0,0,0,2.44-.94l-.4-.68a3.08,3.08,0,0,1-2,.79,2.53,2.53,0,0,1-1.79-.71,2.56,2.56,0,0,1-.77-1.93h5.07a2.81,2.81,0,0,0,0-.43,3.26,3.26,0,0,0-.71-2.18,2.5,2.5,0,0,0-2-.88,3.21,3.21,0,0,0-2.35.94,3.42,3.42,0,0,0-.94,2.52Zm1-.68a2.27,2.27,0,0,1,2.3-2,1.88,1.88,0,0,1,1.87,2Zm6.32.68a3.33,3.33,0,0,0,1,2.52,3.5,3.5,0,0,0,2.47,1,3.61,3.61,0,0,0,2.61-1.08l-.43-.65a2.93,2.93,0,0,1-2.13.91,2.63,2.63,0,0,1-1.87-.74,2.68,2.68,0,0,1-.74-1.93,2.61,2.61,0,0,1,.74-1.9,2.48,2.48,0,0,1,1.84-.77,2.86,2.86,0,0,1,2,.82l.45-.68a3.6,3.6,0,0,0-4.9.06,3.21,3.21,0,0,0-1,2.47Zm10.88,0v-.79H73.47v.79Zm2.95,3.34v-3h1l2.21,3H84.5l-2.55-3.46v0l2.3-3.15h-1l-2,2.81h-1v-2.81h-.91v6.63Zm4.82.06c1.7-.14,2.44-1.56,2.44-4.68v-1.22h2.3v5.84h.91v-6.63H86.57v2c0,2.47-.51,3.69-1.59,3.88Zm7.2-1.84a1.7,1.7,0,0,0,.65,1.42,2.48,2.48,0,0,0,3.83-1h0l-.06.57v.77h.88v-4.25A2.26,2.26,0,0,0,95,159.93a3.73,3.73,0,0,0-2.32.74l.4.68a3.29,3.29,0,0,1,1.87-.62c1.11,0,1.64.57,1.64,1.7v.2h-.4c-2.69,0-4,.77-4,2.3Zm.91-.06c.06-.91.68-1.28,1.59-1.42a7.76,7.76,0,0,1,1.56-.11h.37v.31a2.68,2.68,0,0,1-.57,1.7,1.72,1.72,0,0,1-1.47.77,1.32,1.32,0,0,1-1.47-1.25Zm6-1.47a3.33,3.33,0,0,0,1,2.52,3.49,3.49,0,0,0,2.47,1,3.61,3.61,0,0,0,2.61-1.08l-.43-.65a2.93,2.93,0,0,1-2.13.91,2.64,2.64,0,0,1-1.87-.74,2.68,2.68,0,0,1-.74-1.93,2.61,2.61,0,0,1,.74-1.9,2.48,2.48,0,0,1,1.84-.77,2.86,2.86,0,0,1,2,.82l.45-.68a3.6,3.6,0,0,0-4.9.06,3.21,3.21,0,0,0-1,2.47Zm7,0a3.44,3.44,0,0,0,1,2.52,3.67,3.67,0,0,0,5.07-.11l-.43-.65a2.92,2.92,0,0,1-2.1.91,2.53,2.53,0,0,1-2.61-2.66,2.5,2.5,0,0,1,.74-1.9,2.44,2.44,0,0,1,1.84-.77,2.85,2.85,0,0,1,1.93.82l.45-.68a3.29,3.29,0,0,0-2.41-.94,3.35,3.35,0,0,0-2.49,1,3.31,3.31,0,0,0-1,2.47Zm7,1.53a1.7,1.7,0,0,0,.65,1.42,2.48,2.48,0,0,0,3.83-1h0l0,.57v.77h.85v-4.25a2.24,2.24,0,0,0-2.47-2.52,3.76,3.76,0,0,0-2.35.74l.4.68a3.37,3.37,0,0,1,1.9-.62q1.62,0,1.62,1.7v.2h-.4c-2.66,0-4,.77-4,2.3Zm.91-.06c.06-.91.68-1.28,1.59-1.42a7.76,7.76,0,0,1,1.56-.11h.37v.31a2.68,2.68,0,0,1-.57,1.7,1.71,1.71,0,0,1-1.45.77,1.35,1.35,0,0,1-1.5-1.25Z')
                path.logo-2(d='M8.29,74.89H88.54c-.4.57-.77,1.11-1.16,1.64H9.45c-.4-.54-.79-1.08-1.16-1.64Z')
                path.logo-2(d='M5.37,69.9H91.43c-.28.54-.57,1.11-.88,1.64H6.25c-.31-.54-.6-1.11-.88-1.64Z')
                path.logo-2(d='M3.19,64.91H93.61c-.2.54-.43,1.11-.65,1.64H3.84c-.23-.54-.45-1.11-.65-1.64Z')
                path.logo-2(d='M1.66,59.9H95.14c-.14.57-.28,1.13-.43,1.67H2.11c-.17-.54-.31-1.11-.45-1.67Z')
                path.logo-2(d='M.69,54.91H96.14c-.09.57-.17,1.13-.28,1.67H.95a15.8,15.8,0,0,1-.26-1.67Z')
                path.logo-2(d='M.24,49.92H96.56l-.09,1.67H.33c0-.57-.06-1.11-.08-1.67Z')
                path.logo-2(d='M.33,44.93H96.48l.09,1.67H.24c0-.57.06-1.11.08-1.67Z')
                path.logo-2(d='M.92,39.94h95a15.83,15.83,0,0,1,.26,1.67H.67c.08-.57.17-1.13.26-1.67Z')
                path.logo-2(d='M2.06,35H94.75c.17.54.31,1.11.45,1.67H1.63c.11-.57.28-1.13.43-1.67Z')
                path.logo-2(d='M3.78,30H93c.23.54.45,1.11.65,1.64H3.13c.23-.54.43-1.11.65-1.64Z')
                path.logo-2(d='M6.17,25H90.64l.88,1.64H5.31c.26-.54.57-1.11.85-1.64Z')
                path.logo-2(d='M9.34,20H87.46c.4.54.79,1.08,1.16,1.64H8.18c.4-.57.77-1.11,1.16-1.64Z')
                path.logo-2(d='M13.48,15H83.32c.51.57,1,1.11,1.5,1.67H12c.48-.57,1-1.11,1.5-1.67Z')
                path.logo-2(d='M19,10H77.77c.71.54,1.39,1.11,2,1.67H17c.65-.57,1.33-1.13,2-1.67Z')
                path.logo-2(d='M27,5H69.77c1,.54,2.07,1.08,3.06,1.67H24C25,6.07,26,5.53,27,5Z')
                path.logo-2(d='M36.33,94.85H60.48a48.4,48.4,0,0,1-24.15,0Z')
                path.logo-2(d='M24.19,89.86H72.61c-1,.6-2,1.16-3.12,1.67H27.31c-1.08-.51-2.1-1.08-3.12-1.67Z')
                path.logo-2(d='M17.16,84.87h62.5c-.68.57-1.36,1.13-2.07,1.67H19.2c-.68-.54-1.39-1.11-2-1.67Z')
                path.logo-2(d='M12.09,79.88H84.71c-.51.57-1,1.11-1.53,1.67H13.62l-1.53-1.67Z')
                path.logo-2(d='M61,1.67H35.82A48.19,48.19,0,0,1,61,1.67Z')
                path.logo-3(d='M72,96.38A48.19,48.19,0,1,0,23.83,48.19,48.29,48.29,0,0,0,72,96.38Z')
                rect.logo-1(x='75.93' y='83.88' width='5.81' height='2.66')
                rect.logo-1(x='74.65' y='78.89' width='8.36' height='2.66')
                rect.logo-1(x='63.6' y='68.91' width='7.99' height='2.64')
                rect.logo-1(x='86.07' y='68.91' width='7.99' height='2.64')
                rect.logo-1(x='69.77' y='63.92' width='6.43' height='2.64')
                rect.logo-1(x='74.65' y='58.93' width='8.36' height='2.64')
                rect.logo-1(x='75.93' y='53.94' width='5.81' height='2.64')
                rect.logo-1(x='75.93' y='48.95' width='5.81' height='2.64')
                rect.logo-1(x='75.93' y='43.97' width='5.81' height='2.64')
                rect.logo-1(x='75.93' y='38.95' width='5.81' height='2.66')
                rect.logo-1(x='75.93' y='33.96' width='10.46' height='2.66')
                rect.logo-1(x='91.83' y='33.96' width='5.92' height='2.66')
                rect.logo-1(x='75.93' y='28.97' width='21.83' height='2.64')
                rect.logo-1(x='75.93' y='23.98' width='10.46' height='2.64')
                rect.logo-1(x='75.93' y='18.99' width='21.83' height='2.64')
                rect.logo-1(x='75.93' y='14' width='10.46' height='2.64')
                rect.logo-1(x='91.83' y='14' width='5.92' height='2.64')
                rect.logo-1(x='75.93' y='9.01' width='5.81' height='2.64')
                rect.logo-1(x='81.45' y='63.92' width='6.43' height='2.64')
                rect.logo-1(x='69.77' y='73.9' width='6.43' height='2.64')
                rect.logo-1(x='81.45' y='73.9' width='6.43' height='2.64')
      //- Logo End
      //- Hero Inner
      .header__inner            
        h1.heading.heading--hero Центр вашей жизни
        a(href="#").btn.btn--transparent Узнать о доме
      //- Hero Inner End
      //- Button Down
      a(href="#js-down" title="Вернуться к началу" data-mt-duration="800").js-moveto.link.link--to-down 
        svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32.04 57.72').icon.icon--arrow-down
          g#Layer_2(data-name='Layer 2')
            g#Layer_1-2(data-name='Layer 1')
              path(d='M32,28.86a3.16,3.16,0,0,0-.93-2.25L5.43.94A3.16,3.16,0,0,0,3.18,0h0A3.19,3.19,0,0,0,0,3.19,3.16,3.16,0,0,0,.93,5.44L24.36,28.86.93,52.29a3.18,3.18,0,1,0,4.5,4.5L31.11,31.11A3.15,3.15,0,0,0,32,28.86Z')
      //- Button Down En
      //- Header End
    //- Top Panel
    include includes/_top-panel
    //- Top Panel End
    //- Section
    section.section.section--home
      h2.heading.heading--hide Преимущества
      .section__inner
        //- Card
        a(href="#").card
          .card__image(style="background-image:url(./assets/img/home-card-1.jpg)")
          .card__inner
            .card__title
              h3.heading.heading--card Изысканная архитектура
            .btn.btn--more
              .btn__lines
              .btn__bg
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32.04 57.72').icon.icon--arrow-right
                g#Layer_2(data-name='Layer 2')
                  g#Layer_1-2(data-name='Layer 1')
                    path(d='M32,28.86a3.16,3.16,0,0,0-.93-2.25L5.43.94A3.16,3.16,0,0,0,3.18,0h0A3.19,3.19,0,0,0,0,3.19,3.16,3.16,0,0,0,.93,5.44L24.36,28.86.93,52.29a3.18,3.18,0,1,0,4.5,4.5L31.11,31.11A3.15,3.15,0,0,0,32,28.86Z')
        //- Card End
        //- Cardh
        a(href="#").card
          .card__image(style="background-image:url(./assets/img/home-card-2.jpg)")
          .card__inner
            .card__title
              h3.heading.heading--card Увеличенные окна
            .btn.btn--more
              .btn__lines
              .btn__bg
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32.04 57.72').icon.icon--arrow-right
                g#Layer_2(data-name='Layer 2')
                  g#Layer_1-2(data-name='Layer 1')
                    path(d='M32,28.86a3.16,3.16,0,0,0-.93-2.25L5.43.94A3.16,3.16,0,0,0,3.18,0h0A3.19,3.19,0,0,0,0,3.19,3.16,3.16,0,0,0,.93,5.44L24.36,28.86.93,52.29a3.18,3.18,0,1,0,4.5,4.5L31.11,31.11A3.15,3.15,0,0,0,32,28.86Z')
        //- Card End
        //- Card
        a(href="#").card
          .card__image(style="background-image:url(./assets/img/home-card-3.jpg)")
          .card__inner
            .card__title
              h3.heading.heading--card Просторные холлы
            .btn.btn--more
              .btn__lines
              .btn__bg
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32.04 57.72').icon.icon--arrow-right
                g#Layer_2(data-name='Layer 2')
                  g#Layer_1-2(data-name='Layer 1')
                    path(d='M32,28.86a3.16,3.16,0,0,0-.93-2.25L5.43.94A3.16,3.16,0,0,0,3.18,0h0A3.19,3.19,0,0,0,0,3.19,3.16,3.16,0,0,0,.93,5.44L24.36,28.86.93,52.29a3.18,3.18,0,1,0,4.5,4.5L31.11,31.11A3.15,3.15,0,0,0,32,28.86Z')
        //- Card End
        //- Card
        a(href="#").card
          .card__image(style="background-image:url(./assets/img/home-card-4.jpg)")
          .card__inner
            .card__title
              h3.heading.heading--card Благоустроенный двор
            .btn.btn--more
              .btn__lines
              .btn__bg
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32.04 57.72').icon.icon--arrow-right
                g#Layer_2(data-name='Layer 2')
                  g#Layer_1-2(data-name='Layer 1')
                    path(d='M32,28.86a3.16,3.16,0,0,0-.93-2.25L5.43.94A3.16,3.16,0,0,0,3.18,0h0A3.19,3.19,0,0,0,0,3.19,3.16,3.16,0,0,0,.93,5.44L24.36,28.86.93,52.29a3.18,3.18,0,1,0,4.5,4.5L31.11,31.11A3.15,3.15,0,0,0,32,28.86Z')
        //- Card End
        //- Card
        a(href="#").card
          .card__image(style="background-image:url(./assets/img/home-card-5.jpg)")
          .card__inner
            .card__title
              h3.heading.heading--card Вода высшего качества
            .btn.btn--more
              .btn__lines
              .btn__bg
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32.04 57.72').icon.icon--arrow-right
                g#Layer_2(data-name='Layer 2')
                  g#Layer_1-2(data-name='Layer 1')
                    path(d='M32,28.86a3.16,3.16,0,0,0-.93-2.25L5.43.94A3.16,3.16,0,0,0,3.18,0h0A3.19,3.19,0,0,0,0,3.19,3.16,3.16,0,0,0,.93,5.44L24.36,28.86.93,52.29a3.18,3.18,0,1,0,4.5,4.5L31.11,31.11A3.15,3.15,0,0,0,32,28.86Z')
        //- Card End
        //- Card
        a(href="#").card
          .card__image(style="background-image:url(./assets/img/home-card-6.jpg)")
          .card__inner
            .card__title
              h3.heading.heading--card Чистый воздух в квартире
            .btn.btn--more
              .btn__lines
              .btn__bg
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32.04 57.72').icon.icon--arrow-right
                g#Layer_2(data-name='Layer 2')
                  g#Layer_1-2(data-name='Layer 1')
                    path(d='M32,28.86a3.16,3.16,0,0,0-.93-2.25L5.43.94A3.16,3.16,0,0,0,3.18,0h0A3.19,3.19,0,0,0,0,3.19,3.16,3.16,0,0,0,.93,5.44L24.36,28.86.93,52.29a3.18,3.18,0,1,0,4.5,4.5L31.11,31.11A3.15,3.15,0,0,0,32,28.86Z')
        //- Card End
        //- Card
        a(href="#").card
          .card__image(style="background-image:url(./assets/img/home-card-7.jpg)")
          .card__inner
            .card__title
              h3.heading.heading--card Технологии безопасности
            .btn.btn--more
              .btn__lines
              .btn__bg
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32.04 57.72').icon.icon--arrow-right
                g#Layer_2(data-name='Layer 2')
                  g#Layer_1-2(data-name='Layer 1')
                    path(d='M32,28.86a3.16,3.16,0,0,0-.93-2.25L5.43.94A3.16,3.16,0,0,0,3.18,0h0A3.19,3.19,0,0,0,0,3.19,3.16,3.16,0,0,0,.93,5.44L24.36,28.86.93,52.29a3.18,3.18,0,1,0,4.5,4.5L31.11,31.11A3.15,3.15,0,0,0,32,28.86Z')
        //- Card End
        //- Card
        a(href="#").card
          .card__image(style="background-image:url(./assets/img/home-card-8.jpg)")
          .card__inner
            .card__title
              h3.heading.heading--card Технологии комфорта
            .btn.btn--more
              .btn__lines
              .btn__bg
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32.04 57.72').icon.icon--arrow-right
                g#Layer_2(data-name='Layer 2')
                  g#Layer_1-2(data-name='Layer 1')
                    path(d='M32,28.86a3.16,3.16,0,0,0-.93-2.25L5.43.94A3.16,3.16,0,0,0,3.18,0h0A3.19,3.19,0,0,0,0,3.19,3.16,3.16,0,0,0,.93,5.44L24.36,28.86.93,52.29a3.18,3.18,0,1,0,4.5,4.5L31.11,31.11A3.15,3.15,0,0,0,32,28.86Z')
        //- Card End
    //- Footer
    include includes/_footer
    //- Footer End
