extends ./views/_layout.pug
block vars
  - var pageTitle = 'About Text'
  - var bodyClass = 'text-page'

block content
  .page
    //- Menu Button
    button.btn.btn--nav-toggle#js-nav-toggle
      svg.inline-svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='320px', height='220.5px', viewbox='0 0 32 22.5', enable-background='new 0 0 32 22.5', xml:space='preserve')
        title Mobile Menu
        g.svg-menu-toggle
          path.bar(d='M20.945,8.75c0,0.69-0.5,1.25-1.117,1.25H3.141c-0.617,0-1.118-0.56-1.118-1.25l0,0\
          c0-0.69,0.5-1.25,1.118-1.25h16.688C20.445,7.5,20.945,8.06,20.945,8.75L20.945,8.75z')
          path.bar(d='M20.923,15c0,0.689-0.501,1.25-1.118,1.25H3.118C2.5,16.25,2,15.689,2,15l0,0c0-0.689,0.5-1.25,1.118-1.25 h16.687C20.422,13.75,20.923,14.311,20.923,15L20.923,15z')
          path.bar(d='M20.969,21.25c0,0.689-0.5,1.25-1.117,1.25H3.164c-0.617,0-1.118-0.561-1.118-1.25l0,0\
          c0-0.689,0.5-1.25,1.118-1.25h16.688C20.469,20,20.969,20.561,20.969,21.25L20.969,21.25z')
          // needs to be here as a 'hit area'
          rect(width='320', height='220', fill='none')
    //- Menu Button End
    //- Top Panel
    include includes/_top-panel
    //- Top Panel End
    main.content#js-top
      header.header.header--main
        .header__inner   
          h1.heading.heading--single Просторные холлы
      
      section
        h2.heading.heading--hide Просторные холлы ЖК «Женева»
        p.text.text--large Присядьте на диван в уютном лобби. Обменяйтесь улыбками с&nbsp;консьержем. Отдохните, наблюдая за тем, как в камине потрескивают дрова. Не забудьте переключиться на бесплатный Wi-Fi. Наслаждайтесь мгновениями комфорта каждый день.
      
      img(src="./assets/img/hall-1.jpg" alt="Фото просторного холла ЖК 'Женева'").image
      section
        .main-content--container
          h2 Благоустроенный двор
          p Многолетние растения цветут до первого снега. Карликовые деревья бонсай в кадках радуют дружным весенним цветением и ярко-красным листопадом. По-европейски сдержанная детская площадка не ослепляет яркими красками, но предлагает большое количество игровых сценариев для детей всех возрастов.
          p Для того, чтобы увидеть лазурную воду лесного озера Блаузее, не нужно покупать билеты в Швейцарию. Достаточно открыть кран, наполнив ванную чистой голубой водой. 
          p О качестве позаботится установка Акварос-5. Вода очищается от вредных соединений и тяжелых металлов, не оказывает губительного воздействия на кожу, а наоборот заботится о ней. Пить воду из-под крана можно. Если это вода в «Женеве».
      section
        .main-content--container
          h2 Воздух, как в Женеве — в «Женеве»
          p Доверьте очистку воздуха мастерам — AIR MASTER Ballu. 6-ступенчатая система очистки позаботится о том, чтобы воздух был чистый и нагретый до оптимальной температуры. Высокоэффективный фильтр задержит 99% распространенных аллергенов, избавит от пыли, бактерий и дыма. AIR MASTER создаст ваш индивидуальный микроклимат — вашу маленькую Женеву.
          p Как и в Швейцарии, в «Женеве» все под безупречной защитой. Территория дома, холлы и лифты снабжены камерами видеонаблюдения, работающими 24/7. Видеодомофоны помогут узнать, кто пришёл к вам в гости, а бдительная охрана не пропустит незнакомцев в «Женеву». Можно гулять допоздна и без опаски отпускать детей во двор.
    //- Footer
    include includes/_footer
    //- Footer End
