extends ./views/_layout.pug
block vars
  - var pageTitle = 'About Text'
  - var bodyClass = 'text-page'

block content
  .page
    //- Top Panel
    include includes/_top-panel
    //- Top Panel End
    main.content#js-top
      header.header.header--main
        .header__inner   
          h1.heading.heading--single Просторные холлы
      
      section
        h2.heading.heading--hide Просторные холлы ЖК «Женева»
        p.text.text--large Присядьте на диван в уютном лобби. Обменяйтесь улыбками с&nbsp;консьержем. Отдохните, наблюдая за тем, как в камине потрескивают дрова. Не забудьте переключиться на бесплатный Wi-Fi. Наслаждайтесь мгновениями комфорта каждый день.
      
      img(src="./assets/img/hall-1.jpg" alt="Фото просторного холла ЖК 'Женева'").image
      section
        .main-content--container
          h2 Благоустроенный двор
          p Многолетние растения цветут до первого снега. Карликовые деревья бонсай в кадках радуют дружным весенним цветением и ярко-красным листопадом. По-европейски сдержанная детская площадка не ослепляет яркими красками, но предлагает большое количество игровых сценариев для детей всех возрастов.
          p Для того, чтобы увидеть лазурную воду лесного озера Блаузее, не нужно покупать билеты в Швейцарию. Достаточно открыть кран, наполнив ванную чистой голубой водой. 
          p О качестве позаботится установка Акварос-5. Вода очищается от вредных соединений и тяжелых металлов, не оказывает губительного воздействия на кожу, а наоборот заботится о ней. Пить воду из-под крана можно. Если это вода в «Женеве».
      section
        .main-content--container
          h2 Воздух, как в Женеве — в «Женеве»
          p Доверьте очистку воздуха мастерам — AIR MASTER Ballu. 6-ступенчатая система очистки позаботится о том, чтобы воздух был чистый и нагретый до оптимальной температуры. Высокоэффективный фильтр задержит 99% распространенных аллергенов, избавит от пыли, бактерий и дыма. AIR MASTER создаст ваш индивидуальный микроклимат — вашу маленькую Женеву.
          p Как и в Швейцарии, в «Женеве» все под безупречной защитой. Территория дома, холлы и лифты снабжены камерами видеонаблюдения, работающими 24/7. Видеодомофоны помогут узнать, кто пришёл к вам в гости, а бдительная охрана не пропустит незнакомцев в «Женеву». Можно гулять допоздна и без опаски отпускать детей во двор.
    //- Footer
    include includes/_footer
    //- Footer End
