include ../mixins/_svgsprite.pug

doctype html
html(lang="ru")
	block vars
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		<meta name="theme-color" content="#e65c00">
		block title
			title #{pageTitle} - My Static Site
		link(rel='stylesheet' href='assets/css/screen.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')

	body(class=bodyClass)

		block content

		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js')
		
		script(type='text/javascript', src='https://api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU')
		
		script(src='assets/js/script.js')
		//- script(type='text/javascript')
