include ../mixins/_svgsprite.pug

doctype html
html(lang="ru")
	block vars
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		<meta name="theme-color" content="#e65c00">
		block title
			title #{pageTitle} - My Static Site
		link(rel='stylesheet' href='assets/css/screen.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')

	body(class=bodyClass)

		block content
			
		script(src='assets/js/script.js')
		block scripts
