.footer {
  // Elements
  // @include has(inner) {
  //   align-items    : center;
  //   flex-direction : column;
  //   height         : 100%;
  //   justify-content: space-between;
  //   padding        : 80px 0;
  //   width          : 100%;
  //   height: auto;
  //   min-height: 100%;
  //   position: fixed;
  //   background-color: $nblack;
  //   top: 0;left: 0;
  //   display: none;
  //
  //   @include variant(visible) {
  //     display: flex;
  //     z-index: 9;
  //
  //
  //
  //   };
  //
  //
  //   @media (min-width: 1000px) {
  //     flex-direction : row;
  //     height         : 180px;
  //     display        : flex;
  //     justify-content: space-between;
  //     align-items    : center;
  //     padding        : 0 30px;
  //   }
  // };
  // // Styles
  // width           : 100%;
  // background-color: $nblack;
  // color           : $white;
  // position        : relative;
  // // margin-top      : 40px;
  // padding         : 0 !important;
  //
  // .home & {
  //   margin-top: 70px;
  // }
  //
  // .link--to-top {
  //   @include circle-link-hover();
  //   align-items     : center;
  //   background-color: #505050;
  //   display         : block;
  //   display         : flex;
  //   justify-content : center;
  //   left            : 50%;
  //   margin          : 0 0 0 -40px;
  //   position        : fixed;
  //   bottom          : -40px;
  //   z-index         : 2;
  //   width           : 80px;
  //   height          : 80px;
  //   border-radius   : 50%;
  //
  //   .btn__bg,
  //   .btn__lines {
  //     display: none;
  //   }
  //
  //   .sticky & {
  //     z-index: 11;
  //   }
  //
  //   > .icon {
  //     margin: 0 0 30px;
  //     fill  : $grey;
  //   }
  //   @media (min-width: 1000px) {
  //     margin  : -30px 0 0 -30px;
  //     position: absolute;
  //     top     : 0;
  //
  //     > .icon {
  //       margin: 0;
  //       fill  : $grey;
  //     }
  //   }
  // }
  // Styles
  display : none;
  position: absolute;
  top     : 0;
  right   : 0;
  bottom  : 0;
  left    : 0;

  @media (min-width: 1000px) {
    position: relative;
    display: block;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
  @include variant(visible) {
    display: flex;
    z-index: 9;

    .logo {
      order: 1;
    }

    .nav--footer {
      order: 2;
    }

    .contacts--footer {
      order: 3;
    }

    .nav--social {
      order: 4;
    }

    .contacts--office {
      order: 5;
    }

    .copyright {
      order: 6;
    }
  };
  @include has(inner) {
    top             : 0;
    left            : 0;
    bottom          : 0;
    right           : 0;
    position        : fixed;
    overflow-y      : scroll;
    overflow-x      : hidden;
    background-color: $nblack;
    padding         : 80px 0 40px;
    display         : flex;
    flex-direction  : column;

    @media (min-width: 1000px) {
      top: auto;
      left: auto;
      bottom: auto;
      right: auto;
      position: relative;
      display: flex;
      overflow: hidden;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 280px;
      padding: 60px 40px;

      .logo {
        margin: 0;
      }

      .contacts--footer {
        position: absolute;
        right: 83px;
        top: 160px;
        text-align: left;

        .btn.btn--call-back {
          display: none;
        }
      }

      .nav--social {
        position: absolute;
        right: 40px;
      }

      .contacts--office {
        position: absolute;
        top: 160px;
        text-align: left;
      }

      .copyright {
        text-align: left;
        margin-top: 14px;
      }
    }

    @media (min-width: 1160px) {
      height: 180px;
      .contacts--footer, .nav--social, .contacts--office {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
      }

      .nav.nav--social {
        margin: 0 0 0 104px;
      }
      .contacts--footer {
        top: -5px;
        right: -17px;
      }

      .contacts--office {
        margin: -5px 0 0 27px;
      }

      .copyright {
        margin-top: 8px;
      }
    };
  };
}
