$content-header-bg-color: $grey-light;
$margin-large: $margin;
$margin-large: 60px;

.main-content {
  header {
    width: 100%;
  }
}

.header {
  // Elements
  @include has(inner) {

  };
  // Modifiers
  @include variant(hero) {
    .header__inner {
      display   : block;
      left      : 50%;
      position  : absolute;
      text-align: center;
      top       : 62%;
      transform : translate(-50%, -50%);
      z-index   : 2;
      width: 100%;

      @media (min-width: 1000px) {
        width: 100%;
        top: 55%;
      }
    }
    // Styles
    align-items    : center;
    display        : flex;
    justify-content: center;
    width          : 100%;
  };
  @include variant(main) {
    background-color: $content-header-bg-color;
    padding         : 30px 0;
    text-align      : center;

    // margin: -20px -20px 40px;

    width: 100%;
    margin: 0;

    @media (min-width: 1000px) {
      padding: 35px 0 38px;
    }

    @media (min-width: 1160px) {
      padding         : 54px 0 50px;
    }
  };

  @include variant(location) {
    @media (max-width: 999px) {
      display: none;
    }
  };

  @include variant(transparent) {
    text-align      : center;
    background-color: $content-header-bg-color;
    padding: 20px 0 10px;
    margin: -20px -20px 40px;

    @media (min-width: 1000px) {
      background-color: transparent;
      margin          : $margin-base 0;
      padding: 0;
    };
  };
  // Styles
}
