//// Section
// Variables
$margin-small: $margin / 2;
$margin-base: $margin;
$margin-large: 60px;
$base-font-size: 20px;

.section {
  // Elements
  @include has(header) {};
  @include has(inner) {
    @include variant(center) {
      display        : flex;
      justify-content: center;
      align-items    : center;
    };
  };
  @include has(title) {
    font-size     : $base-font-size;
    text-transform: none;
    text-align    : left;
    font-weight   : 500;
  };
  @include has(text) {
    margin: 0 0 20px;
  };
  @include variant(horizontal) {
    display   : flex;
    flex-basis: 100%;
    margin-top: 45px;

    .container {
      flex-direction: column;
    }

    @media (min-width: 960px) {
      .container {
        flex-direction: row;

      }
    }

    .section__header {
      flex-grow   : 1;
      margin-right: 0;


      .section__title {
        margin-right: 40px;
      }

      .section__text {
        text-align: center;

        @media (min-width: 960px) {
          margin    : 0 200px 0 0;
          text-align: left;
        }
      }
    }

    .section__inner {
      flex-grow : 2;
      text-align: left;
      width     : auto;
      margin: 11px 20px 0;

      @media (min-width: 960px) {
        width: 100%;
        margin: 11px 0 0;
      }
    }
  };
  @include variant(home) {
    // .section__inner {
    //   display       : flex;
    //   flex-direction: row;
    //   flex-wrap     : wrap;
    //   padding       : 20px 20px 70px;
    //   text-align    : center;
    //
    //   // @media (min-width: 640px) and (orientation: landscape) {
    //   //   width: 620px;
    //   //   margin: 0 auto;
    //   // }
    // }

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 20px;
  };
  @include variant(news) {
    width: auto;
    margin: 40px 20px 70px;

    @media (orientation: landscape) {

    }

    @media (min-width: 480px) {

    }

    @media (min-width: 640px) {
      // width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap:wrap;
    }

    @media (min-width: 1000px) {

    }

    @media (min-width: 1160px) {

    }

    @media (min-width: 1660px) {
      width: 1620px;
      margin: 40px auto 70px;
    }

    @media (min-width: 1900px) {

    }

    // display        : flex;
    // flex-wrap      : wrap;
    // margin         : 60px 0 90px;
    // justify-content: center;
    //
    // > .card {
    //   flex-basis: calc(100% / 5);
    //   margin    : 0 $margin-small $margin-small 0;
    //   max-width : 300px;
    // }
    //
    // .btn {
    //   margin: 28px auto 0;
    //   width : 300px;
    // }
  };
  @include variant(cards) {
    margin: 0 0 70px;

    @media (min-width: 960px) {
      margin: 0;
    }
  };

  @include variant(gallery) {
    margin-bottom: 30px;
    justify-content: center;
  };
  // Styles
}
